In [512]:
import pandas as pd

In [513]:
airport_data = pd.read_csv(r"C:\Users\hopeh\Desktop\data_science_bootcamp\flight_times_capstone\airport_data\airports.csv")

In [514]:
# Display the first few rows of the dataset
print(airport_data.head())

       id ident           type                  name  latitude_deg  \
0    6523   00A       heliport     Total RF Heliport       40.0710
1  323361  00AA  small_airport  Aero B Ranch Airport       38.7040
2    6524  00AK  small_airport          Lowell Field       59.9477
3    6525  00AL  small_airport          Epps Airpark       34.8648
4  506791  00AN  small_airport  Katmai Lodge Airport       59.0933

   longitude_deg  elevation_ft continent iso_country iso_region  municipality  \
0       -74.9337       11.0000       NaN          US      US-PA      Bensalem
1      -101.4739     3435.0000       NaN          US      US-KS         Leoti
2      -151.6925      450.0000       NaN          US      US-AK  Anchor Point
3       -86.7703      820.0000       NaN          US      US-AL       Harvest
4      -156.4567       80.0000       NaN          US      US-AK   King Salmon

  scheduled_service gps_code iata_code local_code  \
0                no     K00A       NaN        00A
1                no     00AA       NaN       00AA
2                no     00AK       NaN       00AK
3                no     00AL       NaN       00AL
4                no     00AN       NaN       00AN

                                           home_link wikipedia_link keywords
0  https://www.penndot.pa.gov/TravelInPA/airports...            NaN      NaN
1                                                NaN            NaN      NaN
2                                                NaN            NaN      NaN
3                                                NaN            NaN      NaN
4                                                NaN            NaN      NaN

In [515]:
# Display column names
print(airport_data.columns)

Index(['id', 'ident', 'type', 'name', 'latitude_deg', 'longitude_deg',
       'elevation_ft', 'continent', 'iso_country', 'iso_region',
       'municipality', 'scheduled_service', 'gps_code', 'iata_code',
       'local_code', 'home_link', 'wikipedia_link', 'keywords'],
      dtype='object')

In [516]:
# Show summary statistics
print(airport_data.describe(include='all'))

                id  ident           type                         name  \
count   80470.0000  80470          80470                        80470
unique         NaN  80470              7                        76117
top            NaN    00A  small_airport  Centre Hospitalier Heliport
freq           NaN      1          41424                           57
mean   181330.6449    NaN            NaN                          NaN
std    179963.3421    NaN            NaN                          NaN
min         2.0000    NaN            NaN                          NaN
25%     20269.2500    NaN            NaN                          NaN
50%     43054.5000    NaN            NaN                          NaN
75%    339224.7500    NaN            NaN                          NaN
max    539184.0000    NaN            NaN                          NaN

        latitude_deg  longitude_deg  elevation_ft continent iso_country  \
count     80470.0000     80470.0000    65711.0000     42160       80210
unique           NaN            NaN           NaN         6         244
top              NaN            NaN           NaN        AS          US
freq             NaN            NaN           NaN     11605       31508
mean         26.0319       -28.5890     1305.2858       NaN         NaN
std          26.1335        85.4425     1672.9327       NaN         NaN
min         -89.9894      -179.8770    -1266.0000       NaN         NaN
25%          13.3335       -93.7418      213.0000       NaN         NaN
50%          35.2150       -67.9733      735.0000       NaN         NaN
75%          43.0231        22.6723     1617.0000       NaN         NaN
max          82.7500       179.9757    17372.0000       NaN         NaN

       iso_region municipality scheduled_service gps_code iata_code  \
count       80470        75219             80470    42546      9093
unique       2948        35921                 2    42546      9093
top         US-TX        Osaka                no     K00A       UTK
freq         3731          419             75927        1         1
mean          NaN          NaN               NaN      NaN       NaN
std           NaN          NaN               NaN      NaN       NaN
min           NaN          NaN               NaN      NaN       NaN
25%           NaN          NaN               NaN      NaN       NaN
50%           NaN          NaN               NaN      NaN       NaN
75%           NaN          NaN               NaN      NaN       NaN
max           NaN          NaN               NaN      NaN       NaN

       local_code                       home_link  \
count       34056                            4204
unique      32557                            4156
top           PRO  https://www.fuerzaaerea.mil.py
freq            5                              17
mean          NaN                             NaN
std           NaN                             NaN
min           NaN                             NaN
25%           NaN                             NaN
50%           NaN                             NaN
75%           NaN                             NaN
max           NaN                             NaN

                                           wikipedia_link keywords
count                                               16406    18901
unique                                              16297    18446
top     https://es.wikipedia.org/wiki/Fuerza_AÃ©rea_Par...    Mukho
freq                                                   17       48
mean                                                  NaN      NaN
std                                                   NaN      NaN
min                                                   NaN      NaN
25%                                                   NaN      NaN
50%                                                   NaN      NaN
75%                                                   NaN      NaN
max                                                   NaN      NaN

In [517]:
# Display basic information about the dataset
print(airport_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80470 entries, 0 to 80469
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 80470 non-null  int64
 1   ident              80470 non-null  object
 2   type               80470 non-null  object
 3   name               80470 non-null  object
 4   latitude_deg       80470 non-null  float64
 5   longitude_deg      80470 non-null  float64
 6   elevation_ft       65711 non-null  float64
 7   continent          42160 non-null  object
 8   iso_country        80210 non-null  object
 9   iso_region         80470 non-null  object
 10  municipality       75219 non-null  object
 11  scheduled_service  80470 non-null  object
 12  gps_code           42546 non-null  object
 13  iata_code          9093 non-null   object
 14  local_code         34056 non-null  object
 15  home_link          4204 non-null   object
 16  wikipedia_link     16406 non-null  object
 17  keywords           18901 non-null  object
dtypes: float64(3), int64(1), object(14)
memory usage: 11.1+ MB
None

In [518]:
# Rename specific columns if needed
airport_data.rename(columns={
    'latitude_deg': 'latitude', 
    'longitude_deg': 'longitude',
    'type' : 'type_of_airport',
    'name': 'airport_name'
}, inplace=True)

In [519]:
# Display column names
print(airport_data.columns)

Index(['id', 'ident', 'type_of_airport', 'airport_name', 'latitude',
       'longitude', 'elevation_ft', 'continent', 'iso_country', 'iso_region',
       'municipality', 'scheduled_service', 'gps_code', 'iata_code',
       'local_code', 'home_link', 'wikipedia_link', 'keywords'],
      dtype='object')

In [520]:
# Drop Columns that provide no useful information for analysis (e.g., unique
# identifiers if not needed)

columns_to_drop = [
    'continent',
    'gps_code',
    'iata_code',
    'local_code',
    'home_link',
    'wikipedia_link',
    'keywords'
]

# Drop the identified columns
airport_data = airport_data.drop(columns=columns_to_drop)

# Display column names
print(airport_data.columns)

Index(['id', 'ident', 'type_of_airport', 'airport_name', 'latitude',
       'longitude', 'elevation_ft', 'iso_country', 'iso_region',
       'municipality', 'scheduled_service'],
      dtype='object')

In [521]:
# Convert float64 to float32
for col in airport_data.select_dtypes(include=['float64']).columns:
    airport_data[col] = airport_data[col].astype('float32')

# Check memory usage after conversion
print(airport_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80470 entries, 0 to 80469
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 80470 non-null  int64
 1   ident              80470 non-null  object
 2   type_of_airport    80470 non-null  object
 3   airport_name       80470 non-null  object
 4   latitude           80470 non-null  float32
 5   longitude          80470 non-null  float32
 6   elevation_ft       65711 non-null  float32
 7   iso_country        80210 non-null  object
 8   iso_region         80470 non-null  object
 9   municipality       75219 non-null  object
 10  scheduled_service  80470 non-null  object
dtypes: float32(3), int64(1), object(7)
memory usage: 5.8+ MB
None

In [522]:
# Calculate the percentage of NaN values for each column
nan_percentage = airport_data.isna().mean() * 100

# Adjust pandas display options
pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.max_rows', None)     # Show all rows

# Print the results
print(nan_percentage)

id                   0.0000
ident                0.0000
type_of_airport      0.0000
airport_name         0.0000
latitude             0.0000
longitude            0.0000
elevation_ft        18.3410
iso_country          0.3231
iso_region           0.0000
municipality         6.5254
scheduled_service    0.0000
dtype: float64

In [523]:
# Define columns to drop
# columns_to_drop = ['continent', 'gps_code', 'iata_code', 'local_code', 'home_link',
#        'wikipedia_link', 'keywords', 'iso_region']

# Drop unnecessary columns
# airport_data = airport_data[[col for col in airport_data.columns if col not in columns_to_drop]]

# Print updated DataFrame head
print(airport_data.head())

       id ident type_of_airport          airport_name  latitude  longitude  \
0    6523   00A        heliport     Total RF Heliport   40.0710   -74.9337
1  323361  00AA   small_airport  Aero B Ranch Airport   38.7040  -101.4739
2    6524  00AK   small_airport          Lowell Field   59.9477  -151.6925
3    6525  00AL   small_airport          Epps Airpark   34.8648   -86.7703
4  506791  00AN   small_airport  Katmai Lodge Airport   59.0933  -156.4567

   elevation_ft iso_country iso_region  municipality scheduled_service
0       11.0000          US      US-PA      Bensalem                no
1     3435.0000          US      US-KS         Leoti                no
2      450.0000          US      US-AK  Anchor Point                no
3      820.0000          US      US-AL       Harvest                no
4       80.0000          US      US-AK   King Salmon                no

In [524]:
# Drop rows where 'iso_country' is not equal to 'US'
us_airport_data = airport_data[airport_data['iso_country'] == 'US']

# Print the filtered DataFrame containing only United States airport data
print(us_airport_data.head())

       id ident type_of_airport          airport_name  latitude  longitude  \
0    6523   00A        heliport     Total RF Heliport   40.0710   -74.9337
1  323361  00AA   small_airport  Aero B Ranch Airport   38.7040  -101.4739
2    6524  00AK   small_airport          Lowell Field   59.9477  -151.6925
3    6525  00AL   small_airport          Epps Airpark   34.8648   -86.7703
4  506791  00AN   small_airport  Katmai Lodge Airport   59.0933  -156.4567

   elevation_ft iso_country iso_region  municipality scheduled_service
0       11.0000          US      US-PA      Bensalem                no
1     3435.0000          US      US-KS         Leoti                no
2      450.0000          US      US-AK  Anchor Point                no
3      820.0000          US      US-AL       Harvest                no
4       80.0000          US      US-AK   King Salmon                no

In [525]:
# Round latitude and longitude to 4 decimal places
us_airport_data.loc[:, 'latitude'] = us_airport_data['latitude'].round(4)
us_airport_data.loc[:, 'longitude'] = us_airport_data['longitude'].round(4)

# Set display format for floating-point numbers
pd.options.display.float_format = '{:.4f}'.format

# Display the updated DataFrame
print(us_airport_data.head())

       id ident type_of_airport          airport_name  latitude  longitude  \
0    6523   00A        heliport     Total RF Heliport   40.0710   -74.9337
1  323361  00AA   small_airport  Aero B Ranch Airport   38.7040  -101.4739
2    6524  00AK   small_airport          Lowell Field   59.9477  -151.6925
3    6525  00AL   small_airport          Epps Airpark   34.8648   -86.7703
4  506791  00AN   small_airport  Katmai Lodge Airport   59.0933  -156.4567

   elevation_ft iso_country iso_region  municipality scheduled_service
0       11.0000          US      US-PA      Bensalem                no
1     3435.0000          US      US-KS         Leoti                no
2      450.0000          US      US-AK  Anchor Point                no
3      820.0000          US      US-AL       Harvest                no
4       80.0000          US      US-AK   King Salmon                no

In [526]:
# Remove the 'iso_country' column
airport_data = airport_data.drop(columns=['iso_country'])

# Remove 'US-' from the 'iso_region' column
airport_data['iso_region'] = airport_data['iso_region'].str.replace('US-', '', regex=False)

# Rename the 'iso_region' column to 'state'
airport_data.rename(columns={'iso_region': 'state'}, inplace=True)

# Display the updated DataFrame
print(airport_data.head())

       id ident type_of_airport          airport_name  latitude  longitude  \
0    6523   00A        heliport     Total RF Heliport   40.0710   -74.9337
1  323361  00AA   small_airport  Aero B Ranch Airport   38.7040  -101.4739
2    6524  00AK   small_airport          Lowell Field   59.9477  -151.6925
3    6525  00AL   small_airport          Epps Airpark   34.8648   -86.7703
4  506791  00AN   small_airport  Katmai Lodge Airport   59.0933  -156.4567

   elevation_ft state  municipality scheduled_service
0       11.0000    PA      Bensalem                no
1     3435.0000    KS         Leoti                no
2      450.0000    AK  Anchor Point                no
3      820.0000    AL       Harvest                no
4       80.0000    AK   King Salmon                no

In [527]:
# Add a unique identifier column
airport_data['unique_id'] = range(1, len(airport_data) + 1)

# Display the updated DataFrame
print(airport_data.head())

       id ident type_of_airport          airport_name  latitude  longitude  \
0    6523   00A        heliport     Total RF Heliport   40.0710   -74.9337
1  323361  00AA   small_airport  Aero B Ranch Airport   38.7040  -101.4739
2    6524  00AK   small_airport          Lowell Field   59.9477  -151.6925
3    6525  00AL   small_airport          Epps Airpark   34.8648   -86.7703
4  506791  00AN   small_airport  Katmai Lodge Airport   59.0933  -156.4567

   elevation_ft state  municipality scheduled_service  unique_id
0       11.0000    PA      Bensalem                no          1
1     3435.0000    KS         Leoti                no          2
2      450.0000    AK  Anchor Point                no          3
3      820.0000    AL       Harvest                no          4
4       80.0000    AK   King Salmon                no          5

In [528]:
# Save the DataFrame to CSV file
airport_data.to_csv(r'C:\Users\hopeh\Desktop\data_science_bootcamp\flight_times_capstone\cleaned_airport_data.csv', index=False)

In [529]:
# import dataset containing runway data
runway_data = pd.read_csv(r"C:\Users\hopeh\Desktop\data_science_bootcamp\flight_times_capstone\airport_data\runways.csv")

In [530]:
# Display the first few rows of the dataset
print(runway_data.head())

       id  airport_ref airport_ident  length_ft  width_ft surface  lighted  \
0  269408         6523           00A    80.0000   80.0000  ASPH-G        1
1  255155         6524          00AK  2500.0000   70.0000    GRVL        0
2  254165         6525          00AL  2300.0000  200.0000    TURF        0
3  506792       506791          00AN  4517.0000   60.0000     GVL        0
4  270932         6526          00AR    40.0000   40.0000   GRASS        0

   closed le_ident  le_latitude_deg  le_longitude_deg  le_elevation_ft  \
0       0       H1              NaN               NaN              NaN
1       0        N              NaN               NaN              NaN
2       0       01              NaN               NaN              NaN
3       0        3              NaN               NaN              NaN
4       0       H1              NaN               NaN              NaN

   le_heading_degT  le_displaced_threshold_ft he_ident  he_latitude_deg  \
0              NaN                        NaN      NaN              NaN
1              NaN                        NaN        S              NaN
2              NaN                        NaN       19              NaN
3              NaN                        NaN       21              NaN
4              NaN                        NaN       H1              NaN

   he_longitude_deg  he_elevation_ft  he_heading_degT  \
0               NaN              NaN              NaN
1               NaN              NaN              NaN
2               NaN              NaN              NaN
3               NaN              NaN              NaN
4               NaN              NaN              NaN

   he_displaced_threshold_ft
0                        NaN
1                        NaN
2                        NaN
3                        NaN
4                        NaN

In [531]:
# Display basic information about the dataset
print(runway_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46037 entries, 0 to 46036
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         46037 non-null  int64
 1   airport_ref                46037 non-null  int64
 2   airport_ident              46037 non-null  object
 3   length_ft                  45777 non-null  float64
 4   width_ft                   43047 non-null  float64
 5   surface                    45540 non-null  object
 6   lighted                    46037 non-null  int64
 7   closed                     46037 non-null  int64
 8   le_ident                   45829 non-null  object
 9   le_latitude_deg            15238 non-null  float64
 10  le_longitude_deg           15220 non-null  float64
 11  le_elevation_ft            12984 non-null  float64
 12  le_heading_degT            14775 non-null  float64
 13  le_displaced_threshold_ft  2954 non-null   float64
 14  he_ident                   38965 non-null  object
 15  he_latitude_deg            15174 non-null  float64
 16  he_longitude_deg           15176 non-null  float64
 17  he_elevation_ft            12797 non-null  float64
 18  he_heading_degT            16584 non-null  float64
 19  he_displaced_threshold_ft  3237 non-null   float64
dtypes: float64(12), int64(4), object(4)
memory usage: 7.0+ MB
None

In [532]:
# Display column names
print(runway_data.columns)

Index(['id', 'airport_ref', 'airport_ident', 'length_ft', 'width_ft',
       'surface', 'lighted', 'closed', 'le_ident', 'le_latitude_deg',
       'le_longitude_deg', 'le_elevation_ft', 'le_heading_degT',
       'le_displaced_threshold_ft', 'he_ident', 'he_latitude_deg',
       'he_longitude_deg', 'he_elevation_ft', 'he_heading_degT',
       'he_displaced_threshold_ft'],
      dtype='object')

In [533]:
# Display basic information about the dataset
print(runway_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46037 entries, 0 to 46036
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         46037 non-null  int64
 1   airport_ref                46037 non-null  int64
 2   airport_ident              46037 non-null  object
 3   length_ft                  45777 non-null  float64
 4   width_ft                   43047 non-null  float64
 5   surface                    45540 non-null  object
 6   lighted                    46037 non-null  int64
 7   closed                     46037 non-null  int64
 8   le_ident                   45829 non-null  object
 9   le_latitude_deg            15238 non-null  float64
 10  le_longitude_deg           15220 non-null  float64
 11  le_elevation_ft            12984 non-null  float64
 12  le_heading_degT            14775 non-null  float64
 13  le_displaced_threshold_ft  2954 non-null   float64
 14  he_ident                   38965 non-null  object
 15  he_latitude_deg            15174 non-null  float64
 16  he_longitude_deg           15176 non-null  float64
 17  he_elevation_ft            12797 non-null  float64
 18  he_heading_degT            16584 non-null  float64
 19  he_displaced_threshold_ft  3237 non-null   float64
dtypes: float64(12), int64(4), object(4)
memory usage: 7.0+ MB
None

In [534]:
# Drop Columns that provide no useful information for analysis (e.g., unique
# identifiers if not needed)

columns_to_drop = [
    'airport_ref'
]

# Drop the identified columns
runway_data = runway_data.drop(columns=columns_to_drop)

# Display column names
print(runway_data.columns)

Index(['id', 'airport_ident', 'length_ft', 'width_ft', 'surface', 'lighted',
       'closed', 'le_ident', 'le_latitude_deg', 'le_longitude_deg',
       'le_elevation_ft', 'le_heading_degT', 'le_displaced_threshold_ft',
       'he_ident', 'he_latitude_deg', 'he_longitude_deg', 'he_elevation_ft',
       'he_heading_degT', 'he_displaced_threshold_ft'],
      dtype='object')

In [535]:
# Calculate the percentage of NaN values for each column
nan_percentage = runway_data.isna().mean() * 100

# Adjust pandas display options
pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.max_rows', None)     # Show all rows if there are many rows

# Print the results
print(nan_percentage)

id                           0.0000
airport_ident                0.0000
length_ft                    0.5648
width_ft                     6.4948
surface                      1.0796
lighted                      0.0000
closed                       0.0000
le_ident                     0.4518
le_latitude_deg             66.9005
le_longitude_deg            66.9396
le_elevation_ft             71.7966
le_heading_degT             67.9062
le_displaced_threshold_ft   93.5834
he_ident                    15.3616
he_latitude_deg             67.0396
he_longitude_deg            67.0352
he_elevation_ft             72.2028
he_heading_degT             63.9768
he_displaced_threshold_ft   92.9687
dtype: float64

In [536]:
# Calculate the proportion of missing values for each column
missing_proportion_runway = runway_data.isnull().mean()

# Filter columns where the proportion of missing values is more than 20%
high_missing_cols = missing_proportion_runway[missing_proportion_runway > 0.20].index

# Display columns with high missing values
print("Columns with more than 20% missing values:")
print(high_missing_cols)

Columns with more than 20% missing values:
Index(['le_latitude_deg', 'le_longitude_deg', 'le_elevation_ft',
       'le_heading_degT', 'le_displaced_threshold_ft', 'he_latitude_deg',
       'he_longitude_deg', 'he_elevation_ft', 'he_heading_degT',
       'he_displaced_threshold_ft'],
      dtype='object')

In [537]:
# Filter columns where the proportion of missing values is more than 70%
high_missing_cols = missing_proportion_runway[missing_proportion_runway > 0.70].index

# Display columns with high missing values
print("Columns with more than 70% missing values:")
print(high_missing_cols)

Columns with more than 70% missing values:
Index(['le_elevation_ft', 'le_displaced_threshold_ft', 'he_elevation_ft',
       'he_displaced_threshold_ft'],
      dtype='object')

In [538]:
# Calculate the percentage of NaN values for each column
nan_percentage_runways = runway_data.isna().mean() * 100

# Convert the result to a DataFrame for better readability
nan_percentage_runways_df = pd.DataFrame({
    'Column': nan_percentage_runways.index,
    'NaN Percentage': nan_percentage_runways.values
})

# Sort the DataFrame by percentage of NaN values (optional)
nan_percentage_runways_df = nan_percentage_runways_df.sort_values(by='NaN Percentage', ascending=False)

# Print the DataFrame or list
print(nan_percentage_runways_df)

                       Column  NaN Percentage
12  le_displaced_threshold_ft         93.5834
18  he_displaced_threshold_ft         92.9687
16            he_elevation_ft         72.2028
10            le_elevation_ft         71.7966
11            le_heading_degT         67.9062
14            he_latitude_deg         67.0396
15           he_longitude_deg         67.0352
9            le_longitude_deg         66.9396
8             le_latitude_deg         66.9005
17            he_heading_degT         63.9768
13                   he_ident         15.3616
3                    width_ft          6.4948
4                     surface          1.0796
2                   length_ft          0.5648
7                    le_ident          0.4518
1               airport_ident          0.0000
6                      closed          0.0000
5                     lighted          0.0000
0                          id          0.0000

In [539]:
# Define columns to drop
#columns_to_drop = ['le_displaced_threshold_ft', 'he_displaced_threshold_ft']

# Drop unnecessary columns
#runway_data = runway_data[[col for col in runway_data.columns if col not in columns_to_drop]]

# Print updated DataFrame head
print(runway_data.head())

       id airport_ident  length_ft  width_ft surface  lighted  closed  \
0  269408           00A    80.0000   80.0000  ASPH-G        1       0
1  255155          00AK  2500.0000   70.0000    GRVL        0       0
2  254165          00AL  2300.0000  200.0000    TURF        0       0
3  506792          00AN  4517.0000   60.0000     GVL        0       0
4  270932          00AR    40.0000   40.0000   GRASS        0       0

  le_ident  le_latitude_deg  le_longitude_deg  le_elevation_ft  \
0       H1              NaN               NaN              NaN
1        N              NaN               NaN              NaN
2       01              NaN               NaN              NaN
3        3              NaN               NaN              NaN
4       H1              NaN               NaN              NaN

   le_heading_degT  le_displaced_threshold_ft he_ident  he_latitude_deg  \
0              NaN                        NaN      NaN              NaN
1              NaN                        NaN        S              NaN
2              NaN                        NaN       19              NaN
3              NaN                        NaN       21              NaN
4              NaN                        NaN       H1              NaN

   he_longitude_deg  he_elevation_ft  he_heading_degT  \
0               NaN              NaN              NaN
1               NaN              NaN              NaN
2               NaN              NaN              NaN
3               NaN              NaN              NaN
4               NaN              NaN              NaN

   he_displaced_threshold_ft
0                        NaN
1                        NaN
2                        NaN
3                        NaN
4                        NaN

In [540]:
# Save the DataFrame to CSV file
runway_data.to_csv(r'C:\Users\hopeh\Desktop\data_science_bootcamp\flight_times_capstone\cleaned_runway_data.csv', index=False)

In [541]:
## Merge cleaned_airport_data and cleaned_runway_data into one .csv

# Load the airport data
airport_data = pd.read_csv('cleaned_airport_data.csv')

# Load the runway data
runway_data = pd.read_csv('cleaned_runway_data.csv')

In [542]:
# Inspect the airport data
print(airport_data.head())
print(airport_data.columns)

       id ident type_of_airport          airport_name  latitude  longitude  \
0    6523   00A        heliport     Total RF Heliport   40.0710   -74.9337
1  323361  00AA   small_airport  Aero B Ranch Airport   38.7040  -101.4739
2    6524  00AK   small_airport          Lowell Field   59.9477  -151.6925
3    6525  00AL   small_airport          Epps Airpark   34.8648   -86.7703
4  506791  00AN   small_airport  Katmai Lodge Airport   59.0933  -156.4567

   elevation_ft state  municipality scheduled_service  unique_id
0       11.0000    PA      Bensalem                no          1
1     3435.0000    KS         Leoti                no          2
2      450.0000    AK  Anchor Point                no          3
3      820.0000    AL       Harvest                no          4
4       80.0000    AK   King Salmon                no          5
Index(['id', 'ident', 'type_of_airport', 'airport_name', 'latitude',
       'longitude', 'elevation_ft', 'state', 'municipality',
       'scheduled_service', 'unique_id'],
      dtype='object')

In [543]:
# Inspect the runway data
print(runway_data.head())
print(runway_data.columns)

       id airport_ident  length_ft  width_ft surface  lighted  closed  \
0  269408           00A    80.0000   80.0000  ASPH-G        1       0
1  255155          00AK  2500.0000   70.0000    GRVL        0       0
2  254165          00AL  2300.0000  200.0000    TURF        0       0
3  506792          00AN  4517.0000   60.0000     GVL        0       0
4  270932          00AR    40.0000   40.0000   GRASS        0       0

  le_ident  le_latitude_deg  le_longitude_deg  le_elevation_ft  \
0       H1              NaN               NaN              NaN
1        N              NaN               NaN              NaN
2       01              NaN               NaN              NaN
3        3              NaN               NaN              NaN
4       H1              NaN               NaN              NaN

   le_heading_degT  le_displaced_threshold_ft he_ident  he_latitude_deg  \
0              NaN                        NaN      NaN              NaN
1              NaN                        NaN        S              NaN
2              NaN                        NaN       19              NaN
3              NaN                        NaN       21              NaN
4              NaN                        NaN       H1              NaN

   he_longitude_deg  he_elevation_ft  he_heading_degT  \
0               NaN              NaN              NaN
1               NaN              NaN              NaN
2               NaN              NaN              NaN
3               NaN              NaN              NaN
4               NaN              NaN              NaN

   he_displaced_threshold_ft
0                        NaN
1                        NaN
2                        NaN
3                        NaN
4                        NaN
Index(['id', 'airport_ident', 'length_ft', 'width_ft', 'surface', 'lighted',
       'closed', 'le_ident', 'le_latitude_deg', 'le_longitude_deg',
       'le_elevation_ft', 'le_heading_degT', 'le_displaced_threshold_ft',
       'he_ident', 'he_latitude_deg', 'he_longitude_deg', 'he_elevation_ft',
       'he_heading_degT', 'he_displaced_threshold_ft'],
      dtype='object')

In [544]:
# Rename columns
airport_data.rename(columns={'ident': 'airport_ident', 'id' : 'airport_ref'}, inplace=True)

In [545]:
# Merge the DataFrames
merged_data = pd.merge(airport_data, runway_data, how='inner', left_on='airport_ident', right_on='airport_ident')

In [546]:
# Inspect the merged data
print(merged_data.head())
print(merged_data.columns)

   airport_ref airport_ident type_of_airport  \
0         6523           00A        heliport
1         6524          00AK   small_airport
2         6525          00AL   small_airport
3       506791          00AN   small_airport
4         6526          00AR          closed

                         airport_name  latitude  longitude  elevation_ft  \
0                   Total RF Heliport   40.0710   -74.9337       11.0000
1                        Lowell Field   59.9477  -151.6925      450.0000
2                        Epps Airpark   34.8648   -86.7703      820.0000
3                Katmai Lodge Airport   59.0933  -156.4567       80.0000
4  Newport Hospital & Clinic Heliport   35.6087   -91.2549      237.0000

  state  municipality scheduled_service  unique_id      id  length_ft  \
0    PA      Bensalem                no          1  269408    80.0000
1    AK  Anchor Point                no          3  255155  2500.0000
2    AL       Harvest                no          4  254165  2300.0000
3    AK   King Salmon                no          5  506792  4517.0000
4    AR       Newport                no          6  270932    40.0000

   width_ft surface  lighted  closed le_ident  le_latitude_deg  \
0   80.0000  ASPH-G        1       0       H1              NaN
1   70.0000    GRVL        0       0        N              NaN
2  200.0000    TURF        0       0       01              NaN
3   60.0000     GVL        0       0        3              NaN
4   40.0000   GRASS        0       0       H1              NaN

   le_longitude_deg  le_elevation_ft  le_heading_degT  \
0               NaN              NaN              NaN
1               NaN              NaN              NaN
2               NaN              NaN              NaN
3               NaN              NaN              NaN
4               NaN              NaN              NaN

   le_displaced_threshold_ft he_ident  he_latitude_deg  he_longitude_deg  \
0                        NaN      NaN              NaN               NaN
1                        NaN        S              NaN               NaN
2                        NaN       19              NaN               NaN
3                        NaN       21              NaN               NaN
4                        NaN       H1              NaN               NaN

   he_elevation_ft  he_heading_degT  he_displaced_threshold_ft
0              NaN              NaN                        NaN
1              NaN              NaN                        NaN
2              NaN              NaN                        NaN
3              NaN              NaN                        NaN
4              NaN              NaN                        NaN
Index(['airport_ref', 'airport_ident', 'type_of_airport', 'airport_name',
       'latitude', 'longitude', 'elevation_ft', 'state', 'municipality',
       'scheduled_service', 'unique_id', 'id', 'length_ft', 'width_ft',
       'surface', 'lighted', 'closed', 'le_ident', 'le_latitude_deg',
       'le_longitude_deg', 'le_elevation_ft', 'le_heading_degT',
       'le_displaced_threshold_ft', 'he_ident', 'he_latitude_deg',
       'he_longitude_deg', 'he_elevation_ft', 'he_heading_degT',
       'he_displaced_threshold_ft'],
      dtype='object')

In [547]:
print(merged_data.describe())

       airport_ref   latitude  longitude  elevation_ft  unique_id          id  \
count   46037.0000 46037.0000 46037.0000    44492.0000 46037.0000  46037.0000
mean    62595.1710    25.8343   -50.1584     1160.5572 36896.2327 273828.5497
std    121001.9088    27.1382    74.3598     1449.8553 24250.8538  60154.1777
min         2.0000   -89.9894  -179.8770    -1266.0000     1.0000 232758.0000
25%      9533.0000    16.1933   -95.4119      215.0000 11994.0000 244293.0000
50%     20108.0000    36.5479   -80.0123      722.0000 38504.0000 255813.0000
75%     35272.0000    42.9380   -42.0547     1394.0000 57007.0000 267345.0000
max    538694.0000    82.5178   179.3406    14472.0000 80470.0000 538940.0000

       length_ft   width_ft    lighted     closed  le_latitude_deg  \
count 45777.0000 43047.0000 46037.0000 46037.0000       15238.0000
mean   3232.8950   108.0085     0.2561     0.0182          31.0743
std    2700.4622   222.7255     0.4365     0.1338          23.1924
min       0.0000     0.0000     0.0000     0.0000         -77.9699
25%    1600.0000    59.0000     0.0000     0.0000          28.6381
50%    2690.0000    75.0000     0.0000     0.0000          37.5913
75%    4200.0000   100.0000     1.0000     0.0000          44.3754
max   30000.0000  9000.0000     1.0000     1.0000          82.5128

       le_longitude_deg  le_elevation_ft  le_heading_degT  \
count        15220.0000       12984.0000       14775.0000
mean          1061.0329        1066.3249         104.2077
std         134820.3533        1466.1505          57.4456
min           -178.3030       -1246.0000           0.0000
25%            -96.2633         120.0000          57.0000
50%            -79.8649         581.0000          98.0000
75%             15.5157        1260.0000         148.0000
max       16632257.0000       13202.0000         360.0000

       le_displaced_threshold_ft  he_latitude_deg  he_longitude_deg  \
count                  2954.0000       15174.0000        15176.0000
mean                    531.7011          31.0643          -39.3352
std                     472.9836          23.1863           79.6637
min                       1.0000         -77.9440         -178.2920
25%                     225.0000          28.6142          -96.2466
50%                     400.0000          37.5793          -79.8399
75%                     679.7500          44.3762           15.5477
max                    6365.0000          82.5228          179.3430

       he_elevation_ft  he_heading_degT  he_displaced_threshold_ft
count       12797.0000       16584.0000                  3237.0000
mean         1061.2765         261.8004                   532.4059
std          1459.8254          78.1430                   470.6483
min         -1210.0000           0.0000                     1.0000
25%           120.0000         226.0000                   225.0000
50%           577.0000         270.0000                   400.0000
75%          1250.0000         316.0000                   689.0000
max         13314.0000         363.0000                  5001.0000

In [548]:
print(merged_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46037 entries, 0 to 46036
Data columns (total 29 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   airport_ref                46037 non-null  int64
 1   airport_ident              46037 non-null  object
 2   type_of_airport            46037 non-null  object
 3   airport_name               46037 non-null  object
 4   latitude                   46037 non-null  float64
 5   longitude                  46037 non-null  float64
 6   elevation_ft               44492 non-null  float64
 7   state                      46037 non-null  object
 8   municipality               44033 non-null  object
 9   scheduled_service          46037 non-null  object
 10  unique_id                  46037 non-null  int64
 11  id                         46037 non-null  int64
 12  length_ft                  45777 non-null  float64
 13  width_ft                   43047 non-null  float64
 14  surface                    45540 non-null  object
 15  lighted                    46037 non-null  int64
 16  closed                     46037 non-null  int64
 17  le_ident                   45829 non-null  object
 18  le_latitude_deg            15238 non-null  float64
 19  le_longitude_deg           15220 non-null  float64
 20  le_elevation_ft            12984 non-null  float64
 21  le_heading_degT            14775 non-null  float64
 22  le_displaced_threshold_ft  2954 non-null   float64
 23  he_ident                   38965 non-null  object
 24  he_latitude_deg            15174 non-null  float64
 25  he_longitude_deg           15176 non-null  float64
 26  he_elevation_ft            12797 non-null  float64
 27  he_heading_degT            16584 non-null  float64
 28  he_displaced_threshold_ft  3237 non-null   float64
dtypes: float64(15), int64(5), object(9)
memory usage: 10.2+ MB
None

In [549]:
# Define columns to drop 
columns_to_drop = ['le_latitude_deg', 'le_longitude_deg', 'le_elevation_ft', 'le_heading_degT', 'he_latitude_deg', 'he_longitude_deg', 'he_elevation_ft', 'he_heading_degT']

# Drop unnecessary columns
merged_data = merged_data[[col for col in merged_data.columns if col not in columns_to_drop]]

# Print updated DataFrame head
print(merged_data.head())

   airport_ref airport_ident type_of_airport  \
0         6523           00A        heliport
1         6524          00AK   small_airport
2         6525          00AL   small_airport
3       506791          00AN   small_airport
4         6526          00AR          closed

                         airport_name  latitude  longitude  elevation_ft  \
0                   Total RF Heliport   40.0710   -74.9337       11.0000
1                        Lowell Field   59.9477  -151.6925      450.0000
2                        Epps Airpark   34.8648   -86.7703      820.0000
3                Katmai Lodge Airport   59.0933  -156.4567       80.0000
4  Newport Hospital & Clinic Heliport   35.6087   -91.2549      237.0000

  state  municipality scheduled_service  unique_id      id  length_ft  \
0    PA      Bensalem                no          1  269408    80.0000
1    AK  Anchor Point                no          3  255155  2500.0000
2    AL       Harvest                no          4  254165  2300.0000
3    AK   King Salmon                no          5  506792  4517.0000
4    AR       Newport                no          6  270932    40.0000

   width_ft surface  lighted  closed le_ident  le_displaced_threshold_ft  \
0   80.0000  ASPH-G        1       0       H1                        NaN
1   70.0000    GRVL        0       0        N                        NaN
2  200.0000    TURF        0       0       01                        NaN
3   60.0000     GVL        0       0        3                        NaN
4   40.0000   GRASS        0       0       H1                        NaN

  he_ident  he_displaced_threshold_ft
0      NaN                        NaN
1        S                        NaN
2       19                        NaN
3       21                        NaN
4       H1                        NaN

In [550]:
# Delete rows with more than two characters in the 'state' column
merged_data = merged_data[merged_data['state'].str.len() <= 2]

In [551]:
# Save the DataFrame to CSV file
merged_data.to_csv(r'C:\Users\hopeh\Desktop\data_science_bootcamp\flight_times_capstone\cleaned_airport_and_runway.csv', index=False)

In [552]:
# import dataset containing iata airport data

file_path = r'C:\Users\hopeh\Desktop\data_science_bootcamp\flight_times_capstone\iata.csv'
iata_df = pd.read_csv(file_path)

In [553]:
print(iata_df.head())

  country_code region_name iata  icao                          airport  \
0           AE    Abu Zaby  AAN  OMAL     Al Ain International Airport
1           AE    Abu Zaby  AUH  OMAA  Abu Dhabi International Airport
2           AE    Abu Zaby  AYM   NaN         Yas Island Seaplane Base
3           AE    Abu Zaby  AZI  OMAD      Al Bateen Executive Airport
4           AE    Abu Zaby  DHF  OMAM               Al Dhafra Air Base

   latitude  longitude
0   24.2617    55.6092
1   24.4330    54.6511
2   24.4670    54.6103
3   24.4283    54.4581
4   24.2482    54.5477

In [554]:
# Filter the DataFrame to only include rows with country_code 'US'
iata_df = iata_df[iata_df['country_code'] == 'US']

# Drop the country_code and icao columns
iata_df.drop(columns=['country_code', 'icao'], inplace=True)

# Rename 'region' to 'state'
iata_df.rename(columns={'region_name': 'state'}, inplace=True)

# Rename 'airport' to 'airport_name'
iata_df.rename(columns={'airport': 'airport_name'}, inplace=True)

# Add a unique ID column
iata_df['unique_id'] = range(1, len(iata_df) + 1)

# Display the updated DataFrame
print(iata_df.head(25))

        state iata                                       airport_name  \
6610  Alabama  AIV                              George Downer Airport
6611  Alabama  ALX                            Thomas C. Russell Field
6612  Alabama  ANB                          Anniston Regional Airport
6613  Alabama  ASN                        Talladega Municipal Airport
6614  Alabama  AUO                 Auburn University Regional Airport
6615  Alabama  BFM                            Mobile Downtown Airport
6616  Alabama  BHM     Birmingham-Shuttlesworth International Airport
6617  Alabama  DCU                       Pryor Field Regional Airport
6618  Alabama  DHN                            Dothan Regional Airport
6619  Alabama  ETS                       Enterprise Municipal Airport
6620  Alabama  EUF                                       Weedon Field
6621  Alabama  GAD                 Northeast Alabama Regional Airport
6622  Alabama  GUF                               Jack Edwards Airport
6623  Alabama  HAB                Marion County - Rankin Fite Airport
6624  Alabama  HSV  Huntsville International Airport (Carl T. Jone...
6625  Alabama  HUA                             Redstone Army Airfield
6626  Alabama  MGM       Montgomery Regional Airport (Dannelly Field)
6627  Alabama  MOB                            Mobile Regional Airport
6628  Alabama  MSL                 Northwest Alabama Regional Airport
6629  Alabama  MVC                              Monroe County Airport
6630  Alabama  MXF                             Maxwell Air Force Base
6631  Alabama  NHX                                         NOLF Barin
6632  Alabama  OZR                               Cairns Army Airfield
6633  Alabama  PLR                           St. Clair County Airport
6634  Alabama  SEM                                        Craig Field

      latitude  longitude  unique_id
6610   33.1065   -88.1978          1
6611   32.9147   -85.9630          2
6612   33.5882   -85.8581          3
6613   33.5699   -86.0509          4
6614   32.6151   -85.4340          5
6615   30.6268   -88.0681          6
6616   33.5629   -86.7535          7
6617   34.6527   -86.9454          8
6618   31.3213   -85.4496          9
6619   31.2997   -85.8999         10
6620   31.9513   -85.1289         11
6621   33.9726   -86.0890         12
6622   30.2905   -87.6718         13
6623   34.1176   -87.9982         14
6624   34.6372   -86.7751         15
6625   34.6787   -86.6848         16
6626   32.3006   -86.3940         17
6627   30.6912   -88.2428         18
6628   34.7453   -87.6102         19
6629   31.4580   -87.3510         20
6630   32.3829   -86.3658         21
6631   30.3891   -87.6353         22
6632   31.2757   -85.7134         23
6633   33.5588   -86.2491         24
6634   32.3439   -86.9878         25

In [599]:
# create a mapping dictionary for state abbreviations
state_abbreviations = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}

# Create a new column with state abbreviations
iata_df['state_abbr'] = iata_df['state'].map(state_abbreviations)

# Display the updated DataFrame
print(iata_df.head())

        state iata                        airport_name  latitude  longitude  \
6610  Alabama  AIV               George Downer Airport   33.1065   -88.1978
6611  Alabama  ALX             Thomas C. Russell Field   32.9147   -85.9630
6612  Alabama  ANB           Anniston Regional Airport   33.5882   -85.8581
6613  Alabama  ASN         Talladega Municipal Airport   33.5699   -86.0509
6614  Alabama  AUO  Auburn University Regional Airport   32.6151   -85.4340

      unique_id state_abbr
6610          1         AL
6611          2         AL
6612          3         AL
6613          4         AL
6614          5         AL

In [605]:
# Save the DataFrame to a CSV file
iata_df.to_csv(r'C:\Users\hopeh\Desktop\data_science_bootcamp\flight_times_capstone\cleaned_iata_data.csv', index=False)

print("DataFrame saved to cleaned_iata_data.csv")

DataFrame saved to cleaned_iata_data.csv