Data Wrangling

** IMPORTANT NOTE: Most data wrangling steps had to be downloaded in separate Jupyter Notebook files due to the large data sizes.  If working with larger memory/faster processing times, this will be done in one single notebook. **

This notebook combines flight data with Airport data (including but not limited to longitude, latitude, elevation, etc.) based the universal IATA Airport Code.

In [57]:
import pandas as pd

# Load dataset
flight_data = pd.read_csv(r"C:\Users\hopeh\Desktop\data_science_bootcamp\flight_times_capstone\cleaned_flight_data.csv", low_memory=False)
airport_data = pd.read_csv(r"C:\Users\hopeh\Desktop\data_science_bootcamp\flight_times_capstone\cleaned_airport_and_runway.csv", low_memory=False)

In [58]:
print(flight_data.head())

   year  month  day_of_month  day_of_week        date op_unique_carrier  \
0  2022      5             1            7  2022-05-01                9e
1  2022      5             1            7  2022-05-01                9e
2  2022      5             1            7  2022-05-01                9e
3  2022      5             1            7  2022-05-01                9e
4  2022      5             1            7  2022-05-01                9e

  tail_num  op_carrier_fl_num origin_iata                origin_city  ...  \
0   n131ev               4633         atl                    atlanta  ...
1   n131ev               4633         hpn               white plains  ...
2   n131ev               4717         tys                  knoxville  ...
3   n131ev               4958         atl                    atlanta  ...
4   n131ev               4958         oaj  jacksonville/camp lejeune  ...

  flights distance  distance_group  carrier_delay  weather_delay  nas_delay  \
0     1.0    780.0               4            NaN            NaN        NaN
1     1.0    780.0               4            NaN            NaN        NaN
2     1.0    152.0               1            NaN            NaN        NaN
3     1.0    399.0               2            NaN            NaN        NaN
4     1.0    399.0               2            NaN            NaN        NaN

   security_delay  late_aircraft_delay  origin_state  dest_state
0             NaN                  NaN            ga          ny
1             NaN                  NaN            ny          ga
2             NaN                  NaN            tn          ga
3             NaN                  NaN            ga          nc
4             NaN                  NaN            nc          ga

[5 rows x 35 columns]

In [59]:
print(airport_data.head())

   airport_ref airport_ident type_of_airport  \
0         6523           00A        heliport
1         6524          00AK   small_airport
2         6525          00AL   small_airport
3       506791          00AN   small_airport
4         6526          00AR          closed

                         airport_name   latitude   longitude  elevation_ft  \
0                   Total RF Heliport  40.070984  -74.933685          11.0
1                        Lowell Field  59.947735 -151.692520         450.0
2                        Epps Airpark  34.864800  -86.770300         820.0
3                Katmai Lodge Airport  59.093290 -156.456700          80.0
4  Newport Hospital & Clinic Heliport  35.608700  -91.254900         237.0

  state  municipality scheduled_service  ...      id  length_ft  width_ft  \
0    PA      Bensalem                no  ...  269408       80.0      80.0
1    AK  Anchor Point                no  ...  255155     2500.0      70.0
2    AL       Harvest                no  ...  254165     2300.0     200.0
3    AK   King Salmon                no  ...  506792     4517.0      60.0
4    AR       Newport                no  ...  270932       40.0      40.0

   surface lighted  closed  le_ident le_displaced_threshold_ft  he_ident  \
0   ASPH-G       1       0        H1                       NaN       NaN
1     GRVL       0       0         N                       NaN         S
2     TURF       0       0        01                       NaN        19
3      GVL       0       0         3                       NaN        21
4    GRASS       0       0        H1                       NaN        H1

  he_displaced_threshold_ft
0                       NaN
1                       NaN
2                       NaN
3                       NaN
4                       NaN

[5 rows x 21 columns]

In [60]:
# View unique values in the 'type_of_airport' column
unique_airports = airport_data['type_of_airport'].unique()
print("Unique values in type_of_airport:", unique_airports)

Unique values in type_of_airport: ['heliport' 'small_airport' 'closed' 'seaplane_base' 'balloonport'
 'medium_airport' 'large_airport']

In [61]:
# Filter the DataFrame for only large_airport and medium_airport
filtered_airports = airport_data[airport_data['type_of_airport'].isin(['large_airport', 'medium_airport'])]

# Display the filtered DataFrame
print(filtered_airports)

       airport_ref airport_ident type_of_airport  \
6567         12243           5A8  medium_airport
13959        18945          K61B  medium_airport
13960        18945          K61B  medium_airport
13961        18945          K61B  medium_airport
13987        18966          K67L  medium_airport
...            ...           ...             ...
22284         5455          PHOG   large_airport
22287         5457          PHTO  medium_airport
22288         5457          PHTO  medium_airport
22388         5495          PPIZ  medium_airport
23555       324440       US-0571  medium_airport

                                airport_name   latitude   longitude  \
6567                 Aleknagik / New Airport  59.282600 -158.618000
13959         Boulder City Municipal Airport  35.947163 -114.858800
13960         Boulder City Municipal Airport  35.947163 -114.858800
13961         Boulder City Municipal Airport  35.947163 -114.858800
13987         Mesquite International Airport  36.833103 -114.055930
...                                      ...        ...         ...
22284          Kahului International Airport  20.896263 -156.431840
22287             Hilo International Airport  19.721400 -155.048000
22288             Hilo International Airport  19.721400 -155.048000
22388                 Point Lay LRRS Airport  69.732900 -163.005000
23555  Williston Basin International Airport  48.258390 -103.748795

       elevation_ft state  municipality scheduled_service  ...      id  \
6567           66.0    AK     Aleknagik               yes  ...  258105
13959        2201.0    NV  Boulder City               yes  ...  244777
13960        2201.0    NV  Boulder City               yes  ...  244776
13961        2201.0    NV  Boulder City               yes  ...  244778
13987        1978.0    NV      Mesquite                no  ...  242534
...             ...   ...           ...               ...  ...     ...
22284          54.0    HI       Kahului               yes  ...  240430
22287          38.0    HI          Hilo               yes  ...  239663
22288          38.0    HI          Hilo               yes  ...  239664
22388          22.0    AK     Point Lay               yes  ...  239659
23555        2344.0    ND     Williston               yes  ...  332440

       length_ft  width_ft      surface lighted  closed  le_ident  \
6567      2040.0      80.0  GRVL-DIRT-F       0       0        15
13959     2200.0      60.0          ASP       0       0       09L
13960     4800.0      75.0          ASP       1       0       09R
13961     3850.0      75.0          ASP       1       0        15
13987     5100.0      75.0          ASP       1       0        01
...          ...       ...          ...     ...     ...       ...
22284     4990.0     150.0          ASP       1       0        05
22287     5600.0     150.0          ASP       1       0        03
22288     9800.0     150.0          ASP       1       0        08
22388     3519.0      80.0          GVL       1       0        05
23555     7501.0     150.0          CON       1       0        14

      le_displaced_threshold_ft  he_ident he_displaced_threshold_ft
6567                        NaN        33                       NaN
13959                       NaN       27R                       NaN
13960                       NaN       27L                       NaN
13961                       NaN        33                       NaN
13987                     240.0        19                     291.0
...                         ...       ...                       ...
22284                       NaN        23                       NaN
22287                     349.0        21                       NaN
22288                       NaN        26                       NaN
22388                       NaN        23                       NaN
23555                       NaN        32                       NaN

[1949 rows x 21 columns]

In [62]:
# Remove specified columns
columns_to_remove = ['airport_ref', 'municipality', 'id', 'le_ident', 'he_ident']
filtered_airports = filtered_airports.drop(columns=columns_to_remove)

# Print updated columns to confirm removal
print("Updated columns:", filtered_airports.columns)

Updated columns: Index(['airport_ident', 'type_of_airport', 'airport_name', 'latitude',
       'longitude', 'elevation_ft', 'state', 'scheduled_service', 'unique_id',
       'length_ft', 'width_ft', 'surface', 'lighted', 'closed',
       'le_displaced_threshold_ft', 'he_displaced_threshold_ft'],
      dtype='object')

In [63]:
filtered_airports.head()

,airport_ident,type_of_airport,airport_name,latitude,longitude,elevation_ft,state,scheduled_service,unique_id,length_ft,width_ft,surface,lighted,closed,le_displaced_threshold_ft,he_displaced_threshold_ft
6567,5A8,medium_airport,Aleknagik / New Airport,59.282600,-158.61800,66.0,AK,yes,6565,2040.0,80.0,GRVL-DIRT-F,0,0,NaN,NaN
13959,K61B,medium_airport,Boulder City Municipal Airport,35.947163,-114.85880,2201.0,NV,yes,36688,2200.0,60.0,ASP,0,0,NaN,NaN
13960,K61B,medium_airport,Boulder City Municipal Airport,35.947163,-114.85880,2201.0,NV,yes,36688,4800.0,75.0,ASP,1,0,NaN,NaN
13961,K61B,medium_airport,Boulder City Municipal Airport,35.947163,-114.85880,2201.0,NV,yes,36688,3850.0,75.0,ASP,1,0,NaN,NaN
13987,K67L,medium_airport,Mesquite International Airport,36.833103,-114.05593,1978.0,NV,no,36709,5100.0,75.0,ASP,1,0,240.0,291.0

In [64]:
# Save the filtered DataFrame to a CSV file
filtered_airports.to_csv(r'C:\Users\hopeh\Desktop\data_science_bootcamp\flight_times_capstone\filtered_airports.csv', index=False)

In [65]:

try:
    flights_data = pd.read_csv(r"C:\Users\hopeh\Desktop\data_science_bootcamp\flight_times_capstone\redundant_files\flights_iata.csv")
    filtered_airports = pd.read_csv('filtered_airports.csv')
except FileNotFoundError as e:
    print(e)
    # Exit the script if files are not found
    exit()

# Check for null or empty values in latitude and longitude columns
null_latitude_count = filtered_airports['latitude'].isnull().sum()
null_longitude_count = filtered_airports['longitude'].isnull().sum()

print(f"Null values in latitude: {null_latitude_count}")
print(f"Null values in longitude: {null_longitude_count}")

Null values in latitude: 0
Null values in longitude: 0

In [66]:
# # use flights_iata.csv and filtered_airports.csv to filter out 'medium' and 'large' airports. We will only use these.
# flights_data = pd.read_csv('flights_iata.csv')
# filtered_airports = pd.read_csv('filtered_airports.csv')

In [67]:
# Check the columns in the filtered_airports DataFrame
print("Columns in filtered_airports:", filtered_airports.columns)

Columns in filtered_airports: Index(['airport_ident', 'type_of_airport', 'airport_name', 'latitude',
       'longitude', 'elevation_ft', 'state', 'scheduled_service', 'unique_id',
       'length_ft', 'width_ft', 'surface', 'lighted', 'closed',
       'le_displaced_threshold_ft', 'he_displaced_threshold_ft'],
      dtype='object')

In [68]:
# Check the columns in the flights_data DataFrame
print("Columns in flights_data:", flights_data.columns)

Columns in flights_data: Index(['year', 'month', 'day_of_month', 'day_of_week', 'date',
       'op_unique_carrier', 'tail_num', 'op_carrier_fl_num', 'origin_iata',
       'origin_city', 'dest_iata', 'dest_city', 'crs_dep_time', 'dep_time',
       'taxi_out', 'wheels_off', 'wheels_on', 'taxi_in', 'crs_arr_time',
       'arr_time', 'cancelled', 'diverted', 'crs_elapsed_time',
       'actual_elapsed_time', 'air_time', 'flights', 'distance',
       'distance_group', 'carrier_delay', 'weather_delay', 'nas_delay',
       'security_delay', 'late_aircraft_delay', 'origin_state', 'dest_state',
       'state', 'iata', 'airport_name', 'latitude', 'longitude', 'state_abbr',
       'state_dest', 'iata_dest', 'airport_name_dest', 'latitude_dest',
       'longitude_dest', 'state_abbr_dest'],
      dtype='object')

In [69]:
# Remove specified columns
columns_to_remove = ['airport_name','year', 'month', 'day_of_month']
flights_data = flights_data.drop(columns=columns_to_remove)

# Print updated columns to confirm removal
print("Updated columns:", flights_data.columns)

Updated columns: Index(['day_of_week', 'date', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_iata', 'origin_city', 'dest_iata',
       'dest_city', 'crs_dep_time', 'dep_time', 'taxi_out', 'wheels_off',
       'wheels_on', 'taxi_in', 'crs_arr_time', 'arr_time', 'cancelled',
       'diverted', 'crs_elapsed_time', 'actual_elapsed_time', 'air_time',
       'flights', 'distance', 'distance_group', 'carrier_delay',
       'weather_delay', 'nas_delay', 'security_delay', 'late_aircraft_delay',
       'origin_state', 'dest_state', 'state', 'iata', 'latitude', 'longitude',
       'state_abbr', 'state_dest', 'iata_dest', 'airport_name_dest',
       'latitude_dest', 'longitude_dest', 'state_abbr_dest'],
      dtype='object')

In [70]:
# Define the date range
start_date = '2023-05-01'
end_date = '2024-04-30'

# Filter the DataFrame
flights_data = flights_data[(flights_data['date'] >= start_date) & (flights_data['date'] <= end_date)]

# Display the filtered DataFrame
print(flights_data.head())

         day_of_week        date op_unique_carrier tail_num  \
6129688            1  2023-05-01                9e   n131ev
6129689            1  2023-05-01                9e   n131ev
6129690            1  2023-05-01                9e   n131ev
6129691            1  2023-05-01                9e   n131ev
6129692            1  2023-05-01                9e   n131ev

         op_carrier_fl_num origin_iata  origin_city dest_iata    dest_city  \
6129688               4704         msp  minneapolis       cvg   cincinnati
6129689               4888         cvg   cincinnati       msp  minneapolis
6129690               5128         dsm   des moines       msp  minneapolis
6129691               5190         msp  minneapolis       dsm   des moines
6129692               5283         cvg   cincinnati       msp  minneapolis

         crs_dep_time  ...  iata  latitude  longitude  state_abbr  state_dest  \
6129688           850  ...   msp   44.8820   -93.2218          mn    kentucky
6129689          1234  ...   cvg   39.0488   -84.6678          ky   minnesota
6129690          1750  ...   dsm   41.5340   -93.6631          ia   minnesota
6129691          1554  ...   msp   44.8820   -93.2218          mn        iowa
6129692           645  ...   cvg   39.0488   -84.6678          ky   minnesota

         iata_dest                                  airport_name_dest  \
6129688        cvg  cincinnati/northern kentucky international air...
6129689        msp  minneapolis-saint paul international airport (...
6129690        msp  minneapolis-saint paul international airport (...
6129691        dsm                   des moines international airport
6129692        msp  minneapolis-saint paul international airport (...

         latitude_dest  longitude_dest  state_abbr_dest
6129688        39.0488        -84.6678               ky
6129689        44.8820        -93.2218               mn
6129690        44.8820        -93.2218               mn
6129691        41.5340        -93.6631               ia
6129692        44.8820        -93.2218               mn

[5 rows x 43 columns]

In [71]:
# Merge the DataFrames on latitude and longitude
merged_data = pd.merge(flights_data, airport_data, on=['latitude', 'longitude'], how='inner')

# Save the merged DataFrame to a new CSV file
merged_data.to_csv(r'C:\Users\hopeh\Desktop\data_science_bootcamp\flight_times_capstone\merged_flights_airport_data.csv', index=False)

print("Merged data saved as 'merged_data.csv'.")

Merged data saved as 'merged_data.csv'.

In [72]:
print(merged_data.head())

   day_of_week        date op_unique_carrier tail_num  op_carrier_fl_num  \
0            1  2023-05-01                9e   n131ev               4888
1            1  2023-05-01                9e   n131ev               4888
2            1  2023-05-01                9e   n131ev               4888
3            1  2023-05-01                9e   n131ev               4888
4            1  2023-05-01                9e   n131ev               5128

  origin_iata origin_city dest_iata    dest_city  crs_dep_time  ...      id  \
0         cvg  cincinnati       msp  minneapolis          1234  ...  240940
1         cvg  cincinnati       msp  minneapolis          1234  ...  240941
2         cvg  cincinnati       msp  minneapolis          1234  ...  240943
3         cvg  cincinnati       msp  minneapolis          1234  ...  240942
4         dsm  des moines       msp  minneapolis          1750  ...  244170

   length_ft  width_ft  surface  lighted  closed  le_ident  \
0    12000.0     150.0      PEM        1       0        09
1    11000.0     150.0      PEM        1       0       18C
2    10000.0     150.0      CON        1       0       18L
3     8000.0     150.0      CON        1       0       18R
4     9003.0     150.0      ASP        1       0        05

   le_displaced_threshold_ft  he_ident  he_displaced_threshold_ft
0                        NaN        27                        NaN
1                        NaN       36C                        NaN
2                        NaN       36R                        NaN
3                        NaN       36L                        NaN
4                        NaN        23                        NaN

[5 rows x 62 columns]

In [73]:
merged_data.shape

(15094416, 62)

In [74]:
merged_data.info

<bound method DataFrame.info of           day_of_week        date op_unique_carrier tail_num  \
0                   1  2023-05-01                9e   n131ev
1                   1  2023-05-01                9e   n131ev
2                   1  2023-05-01                9e   n131ev
3                   1  2023-05-01                9e   n131ev
4                   1  2023-05-01                9e   n131ev
...               ...         ...               ...      ...
15094411            2  2024-04-30                yx   n880rw
15094412            2  2024-04-30                yx   n880rw
15094413            2  2024-04-30                yx   n880rw
15094414            2  2024-04-30                yx   n880rw
15094415            2  2024-04-30                yx   n880rw

          op_carrier_fl_num origin_iata origin_city dest_iata    dest_city  \
0                      4888         cvg  cincinnati       msp  minneapolis
1                      4888         cvg  cincinnati       msp  minneapolis
2                      4888         cvg  cincinnati       msp  minneapolis
3                      4888         cvg  cincinnati       msp  minneapolis
4                      5128         dsm  des moines       msp  minneapolis
...                     ...         ...         ...       ...          ...
15094411               5785         syr    syracuse       lga     new york
15094412               5785         syr    syracuse       lga     new york
15094413               5825         ric    richmond       lga     new york
15094414               5825         ric    richmond       lga     new york
15094415               5825         ric    richmond       lga     new york

          crs_dep_time  ...      id  length_ft  width_ft  surface  lighted  \
0                 1234  ...  240940    12000.0     150.0      PEM        1
1                 1234  ...  240941    11000.0     150.0      PEM        1
2                 1234  ...  240943    10000.0     150.0      CON        1
3                 1234  ...  240942     8000.0     150.0      CON        1
4                 1750  ...  244170     9003.0     150.0      ASP        1
...                ...  ...     ...        ...       ...      ...      ...
15094411          1700  ...  244405     9003.0     150.0      ASP        1
15094412          1700  ...  244406     7500.0     150.0      ASP        1
15094413          1248  ...  242481     6607.0     150.0      ASP        1
15094414          1248  ...  242482     5326.0     100.0      ASP        1
15094415          1248  ...  242483     9003.0     150.0      ASP        1

          closed  le_ident  le_displaced_threshold_ft  he_ident  \
0              0        09                        NaN        27
1              0       18C                        NaN       36C
2              0       18L                        NaN       36R
3              0       18R                        NaN       36L
4              0        05                        NaN        23
...          ...       ...                        ...       ...
15094411       0        10                        NaN        28
15094412       0        15                        NaN        33
15094413       0        02                        NaN        20
15094414       0        07                        NaN        25
15094415       0        16                        NaN        34

          he_displaced_threshold_ft
0                               NaN
1                               NaN
2                               NaN
3                               NaN
4                               NaN
...                             ...
15094411                        NaN
15094412                        NaN
15094413                        NaN
15094414                        NaN
15094415                        NaN

[15094416 rows x 62 columns]>

In [75]:
merged_data.columns

Index(['day_of_week', 'date', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_iata', 'origin_city', 'dest_iata',
       'dest_city', 'crs_dep_time', 'dep_time', 'taxi_out', 'wheels_off',
       'wheels_on', 'taxi_in', 'crs_arr_time', 'arr_time', 'cancelled',
       'diverted', 'crs_elapsed_time', 'actual_elapsed_time', 'air_time',
       'flights', 'distance', 'distance_group', 'carrier_delay',
       'weather_delay', 'nas_delay', 'security_delay', 'late_aircraft_delay',
       'origin_state', 'dest_state', 'state_x', 'iata', 'latitude',
       'longitude', 'state_abbr', 'state_dest', 'iata_dest',
       'airport_name_dest', 'latitude_dest', 'longitude_dest',
       'state_abbr_dest', 'airport_ref', 'airport_ident', 'type_of_airport',
       'airport_name', 'elevation_ft', 'state_y', 'municipality',
       'scheduled_service', 'unique_id', 'id', 'length_ft', 'width_ft',
       'surface', 'lighted', 'closed', 'le_ident', 'le_displaced_threshold_ft',
       'he_ident', 'he_displaced_threshold_ft'],
      dtype='object')

In [76]:
# Ignore the first row of data and check for duplicates in the remaining data
data_rows = merged_data.iloc[1:]  # Get all rows except the first one

# Check for duplicate columns
duplicate_columns = merged_data.columns[merged_data.columns.duplicated(keep=False)]

# Print the results
if not duplicate_columns.empty:
    print("Duplicate columns found:")
    print(duplicate_columns.value_counts())
else:
    print("No duplicate columns found.")

No duplicate columns found.

In [77]:
columns_to_display = ['state_x','state_y', 'state_abbr','state_dest', 'dest_state']
print(merged_data[columns_to_display].head(10))

    state_x state_y state_abbr state_dest dest_state
0  kentucky      KY         ky  minnesota         mn
1  kentucky      KY         ky  minnesota         mn
2  kentucky      KY         ky  minnesota         mn
3  kentucky      KY         ky  minnesota         mn
4      iowa      IA         ia  minnesota         mn
5      iowa      IA         ia  minnesota         mn
6  kentucky      KY         ky  minnesota         mn
7  kentucky      KY         ky  minnesota         mn
8  kentucky      KY         ky  minnesota         mn
9  kentucky      KY         ky  minnesota         mn

In [ ]:
# Delete specified columns
columns_to_delete = ['state_x', 'state_abbr', 'state_dest']
merged_data = merged_data.drop(columns=columns_to_delete)

# Rename 'state_y' to 'state'
merged_data = merged_data.rename(columns={'state_y': 'origin_state'})

# Keep 'dest_state' as is (no action needed if you're keeping it)
# Display the updated DataFrame to verify changes
print(merged_data.head())

In [79]:
# Save the merged DataFrame to a new CSV file
merged_data.to_csv(r'C:\Users\hopeh\Desktop\data_science_bootcamp\flight_times_capstone\flights_airport_iata.csv', index=False)

print("Merged data saved as 'flights_airport_iata.csv'.")

Merged data saved as 'flights_airport_iata.csv'.

DATA WRANGLING MARKDOWN

I loaded the datasets into the notebook to merge Flight data with Airport data (including but not limited to longitude, latitude, elevation, etc.) based the universal IATA Airport Code.
I then merged the Weather data on Flight data based on the nearest IATA codes.  Finally, I merged and added columns to include data on dates/locations for large events that may impact flight delays, including Taylor Swift’s Era’s Tour dates and NFL game dates.
I checked for missing values:
Dropped any duplicates after investigation determining there are no trends found in duplicates
Dropped all weather data that didn’t align with the airports that show flights on the specific dates. 
A large portion of the weather data is missing, but it’s unclear whether it’s missing because it wasn’t reported or whether that data means there’s no precipitation, snow, etc. at the locations. Because the weather info is critical to evaluation of flight delays, so we are leaving most of those null values for now.
To handle the missing values in columns with less that 5% missing data, , I decided to use median imputation, since the column contains numerical data and is not heavily skewed.
I performed outlier detection using the IQR method and decided to cap values outside 1.5 * IQR to prevent distortion of the analysis.