In [142]:
import pandas as pd

# Load dataset
flight_data = pd.read_csv(r"C:\Users\hopeh\Desktop\data_science_bootcamp\flight_times_capstone\flight_data.csv", low_memory=False)

# Display the first few rows of the dataset
print(flight_data.head())

# Display basic information about the dataset
print(flight_data.info())

# Show summary statistics
print(flight_data.describe(include='all'))

   YEAR  MONTH  DAY_OF_MONTH  DAY_OF_WEEK               FL_DATE  \
0  2022      5             1            7  5/1/2022 12:00:00 AM
1  2022      5             1            7  5/1/2022 12:00:00 AM
2  2022      5             1            7  5/1/2022 12:00:00 AM
3  2022      5             1            7  5/1/2022 12:00:00 AM
4  2022      5             1            7  5/1/2022 12:00:00 AM

  OP_UNIQUE_CARRIER TAIL_NUM  OP_CARRIER_FL_NUM  ORIGIN_AIRPORT_ID  \
0                9E   N131EV               4633              10397
1                9E   N131EV               4633              12197
2                9E   N131EV               4717              15412
3                9E   N131EV               4958              10397
4                9E   N131EV               4958              13795

   ORIGIN_CITY_MARKET_ID ORIGIN               ORIGIN_CITY_NAME  \
0                  30397    ATL                    Atlanta, GA
1                  31703    HPN               White Plains, NY
2                  35412    TYS                  Knoxville, TN
3                  30397    ATL                    Atlanta, GA
4                  33795    OAJ  Jacksonville/Camp Lejeune, NC

  ORIGIN_STATE_ABR  DEST_AIRPORT_ID  DEST_CITY_MARKET_ID DEST  \
0               GA            12197                31703  HPN
1               NY            10397                30397  ATL
2               TN            10397                30397  ATL
3               GA            13795                33795  OAJ
4               NC            10397                30397  ATL

                  DEST_CITY_NAME DEST_STATE_ABR  CRS_DEP_TIME  DEP_TIME  \
0               White Plains, NY             NY          1558    1556.0
1                    Atlanta, GA             GA          1859    1856.0
2                    Atlanta, GA             GA           655     650.0
3  Jacksonville/Camp Lejeune, NC             NC          1127    1123.0
4                    Atlanta, GA             GA          1334    1329.0

   TAXI_OUT  WHEELS_OFF  WHEELS_ON  TAXI_IN  CRS_ARR_TIME  ARR_TIME  \
0      16.0      1612.0     1809.0      3.0          1814    1812.0
1      15.0      1911.0     2100.0      9.0          2126    2109.0
2      16.0       706.0      742.0      6.0           753     748.0
3      14.0      1137.0     1241.0      4.0          1249    1245.0
4      10.0      1339.0     1441.0      5.0          1508    1446.0

   CANCELLED CANCELLATION_CODE  DIVERTED  CRS_ELAPSED_TIME  \
0        0.0               NaN       0.0             136.0
1        0.0               NaN       0.0             147.0
2        0.0               NaN       0.0              58.0
3        0.0               NaN       0.0              82.0
4        0.0               NaN       0.0              94.0

   ACTUAL_ELAPSED_TIME  AIR_TIME  FLIGHTS  DISTANCE  DISTANCE_GROUP  \
0                136.0     117.0      1.0     780.0               4
1                133.0     109.0      1.0     780.0               4
2                 58.0      36.0      1.0     152.0               1
3                 82.0      64.0      1.0     399.0               2
4                 77.0      62.0      1.0     399.0               2

   CARRIER_DELAY  WEATHER_DELAY  NAS_DELAY  SECURITY_DELAY  \
0            NaN            NaN        NaN             NaN
1            NaN            NaN        NaN             NaN
2            NaN            NaN        NaN             NaN
3            NaN            NaN        NaN             NaN
4            NaN            NaN        NaN             NaN

   LATE_AIRCRAFT_DELAY  FIRST_DEP_TIME  TOTAL_ADD_GTIME ORIGIN_STATE_NM  \
0                  NaN             NaN              NaN             NaN
1                  NaN             NaN              NaN             NaN
2                  NaN             NaN              NaN             NaN
3                  NaN             NaN              NaN             NaN
4                  NaN             NaN              NaN             NaN

  DEST_STATE_NM
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13662099 entries, 0 to 13662098
Data columns (total 44 columns):
 #   Column                 Dtype
---  ------                 -----
 0   YEAR                   int64
 1   MONTH                  int64
 2   DAY_OF_MONTH           int64
 3   DAY_OF_WEEK            int64
 4   FL_DATE                object
 5   OP_UNIQUE_CARRIER      object
 6   TAIL_NUM               object
 7   OP_CARRIER_FL_NUM      int64
 8   ORIGIN_AIRPORT_ID      int64
 9   ORIGIN_CITY_MARKET_ID  int64
 10  ORIGIN                 object
 11  ORIGIN_CITY_NAME       object
 12  ORIGIN_STATE_ABR       object
 13  DEST_AIRPORT_ID        int64
 14  DEST_CITY_MARKET_ID    int64
 15  DEST                   object
 16  DEST_CITY_NAME         object
 17  DEST_STATE_ABR         object
 18  CRS_DEP_TIME           int64
 19  DEP_TIME               float64
 20  TAXI_OUT               float64
 21  WHEELS_OFF             float64
 22  WHEELS_ON              float64
 23  TAXI_IN                float64
 24  CRS_ARR_TIME           int64
 25  ARR_TIME               float64
 26  CANCELLED              float64
 27  CANCELLATION_CODE      object
 28  DIVERTED               float64
 29  CRS_ELAPSED_TIME       float64
 30  ACTUAL_ELAPSED_TIME    float64
 31  AIR_TIME               float64
 32  FLIGHTS                float64
 33  DISTANCE               float64
 34  DISTANCE_GROUP         int64
 35  CARRIER_DELAY          float64
 36  WEATHER_DELAY          float64
 37  NAS_DELAY              float64
 38  SECURITY_DELAY         float64
 39  LATE_AIRCRAFT_DELAY    float64
 40  FIRST_DEP_TIME         float64
 41  TOTAL_ADD_GTIME        float64
 42  ORIGIN_STATE_NM        object
 43  DEST_STATE_NM          object
dtypes: float64(20), int64(12), object(12)
memory usage: 4.5+ GB
None
                YEAR         MONTH  DAY_OF_MONTH   DAY_OF_WEEK  \
count   1.366210e+07  1.366210e+07  1.366210e+07  1.366210e+07
unique           NaN           NaN           NaN           NaN
top              NaN           NaN           NaN           NaN
freq             NaN           NaN           NaN           NaN
mean    2.022829e+03  6.669968e+00  1.577575e+01  3.976339e+00
std     6.852725e-01  3.547001e+00  8.794904e+00  2.003894e+00
min     2.022000e+03  1.000000e+00  1.000000e+00  1.000000e+00
25%     2.022000e+03  4.000000e+00  8.000000e+00  2.000000e+00
50%     2.023000e+03  7.000000e+00  1.600000e+01  4.000000e+00
75%     2.023000e+03  1.000000e+01  2.300000e+01  6.000000e+00
max     2.024000e+03  1.200000e+01  3.100000e+01  7.000000e+00

                       FL_DATE OP_UNIQUE_CARRIER  TAIL_NUM  OP_CARRIER_FL_NUM  \
count                 13662099          13662099  13614652       1.366210e+07
unique                     701                17      6415                NaN
top     12/16/2022 12:00:00 AM                WN    N495HA                NaN
freq                     38452           2820828      6392                NaN
mean                       NaN               NaN       NaN       2.337941e+03
std                        NaN               NaN       NaN       1.602449e+03
min                        NaN               NaN       NaN       1.000000e+00
25%                        NaN               NaN       NaN       1.049000e+03
50%                        NaN               NaN       NaN       2.075000e+03
75%                        NaN               NaN       NaN       3.413000e+03
max                        NaN               NaN       NaN       9.887000e+03

        ORIGIN_AIRPORT_ID  ORIGIN_CITY_MARKET_ID    ORIGIN ORIGIN_CITY_NAME  \
count        1.366210e+07           1.366210e+07  13662099         13662099
unique                NaN                    NaN       369              363
top                   NaN                    NaN       ATL      Chicago, IL
freq                  NaN                    NaN    661188           686867
mean         1.265307e+04           3.173940e+04       NaN              NaN
std          1.528651e+03           1.313479e+03       NaN              NaN
min          1.013500e+04           3.007000e+04       NaN              NaN
25%          1.129200e+04           3.064700e+04       NaN              NaN
50%          1.288900e+04           3.145300e+04       NaN              NaN
75%          1.402700e+04           3.246700e+04       NaN              NaN
max          1.686900e+04           3.610100e+04       NaN              NaN

       ORIGIN_STATE_ABR  DEST_AIRPORT_ID  DEST_CITY_MARKET_ID      DEST  \
count            578819     1.366210e+07         1.366210e+07  13662099
unique               53              NaN                  NaN       369
top                  CA              NaN                  NaN       ATL
freq              62846              NaN                  NaN    661124
mean                NaN     1.265307e+04         3.173941e+04       NaN
std                 NaN     1.528648e+03         1.313480e+03       NaN
min                 NaN     1.013500e+04         3.007000e+04       NaN
25%                 NaN     1.129200e+04         3.064700e+04       NaN
50%                 NaN     1.288900e+04         3.145300e+04       NaN
75%                 NaN     1.402700e+04         3.246700e+04       NaN
max                 NaN     1.686900e+04         3.610100e+04       NaN

       DEST_CITY_NAME DEST_STATE_ABR  CRS_DEP_TIME      DEP_TIME  \
count        13662099         578819  1.366210e+07  1.342278e+07
unique            363             53           NaN           NaN
top       Chicago, IL             CA           NaN           NaN
freq           686833          62854           NaN           NaN
mean              NaN            NaN  1.330916e+03  1.334036e+03
std               NaN            NaN  4.952387e+02  5.105297e+02
min               NaN            NaN  1.000000e+00  1.000000e+00
25%               NaN            NaN  9.100000e+02  9.100000e+02
50%               NaN            NaN  1.321000e+03  1.325000e+03
75%               NaN            NaN  1.740000e+03  1.748000e+03
max               NaN            NaN  2.400000e+03  2.400000e+03

            TAXI_OUT    WHEELS_OFF     WHEELS_ON       TAXI_IN  CRS_ARR_TIME  \
count   1.341664e+07  1.341664e+07  1.341171e+07  1.341171e+07  1.366210e+07
unique           NaN           NaN           NaN           NaN           NaN
top              NaN           NaN           NaN           NaN           NaN
freq             NaN           NaN           NaN           NaN           NaN
mean    1.733779e+01  1.355914e+03  1.456977e+03  8.057052e+00  1.488613e+03
std     9.359878e+00  5.128593e+02  5.428375e+02  6.591802e+00  5.237514e+02
min     1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00
25%     1.200000e+01  9.260000e+02  1.040000e+03  4.000000e+00  1.100000e+03
50%     1.500000e+01  1.338000e+03  1.459000e+03  6.000000e+00  1.515000e+03
75%     2.000000e+01  1.802000e+03  1.915000e+03  9.000000e+00  1.925000e+03
max     2.690000e+02  2.400000e+03  2.400000e+03  4.440000e+02  2.400000e+03

            ARR_TIME     CANCELLED CANCELLATION_CODE      DIVERTED  \
count   1.341171e+07  1.366210e+07            246882  1.366210e+07
unique           NaN           NaN                 4           NaN
top              NaN           NaN                 B           NaN
freq             NaN           NaN            121593           NaN
mean    1.459622e+03  1.807058e-02               NaN  2.404243e-03
std     5.483515e+02  1.332067e-01               NaN  4.897410e-02
min     1.000000e+00  0.000000e+00               NaN  0.000000e+00
25%     1.043000e+03  0.000000e+00               NaN  0.000000e+00
50%     1.501000e+03  0.000000e+00               NaN  0.000000e+00
75%     1.919000e+03  0.000000e+00               NaN  0.000000e+00
max     2.400000e+03  1.000000e+00               NaN  1.000000e+00

        CRS_ELAPSED_TIME  ACTUAL_ELAPSED_TIME      AIR_TIME     FLIGHTS  \
count       1.366209e+07         1.338237e+07  1.338237e+07  13662099.0
unique               NaN                  NaN           NaN         NaN
top                  NaN                  NaN           NaN         NaN
freq                 NaN                  NaN           NaN         NaN
mean        1.452082e+02         1.397653e+02  1.143836e+02         1.0
std         7.289609e+01         7.281421e+01  7.065952e+01         0.0
min        -2.720000e+02         1.400000e+01  6.000000e+00         1.0
25%         9.100000e+01         8.600000e+01  6.300000e+01         1.0
50%         1.280000e+02         1.230000e+02  9.700000e+01         1.0
75%         1.750000e+02         1.710000e+02  1.440000e+02         1.0
max         1.425000e+03         7.950000e+02  7.240000e+02         1.0

            DISTANCE  DISTANCE_GROUP  CARRIER_DELAY  WEATHER_DELAY  \
count   1.366210e+07    1.366210e+07   2.825010e+06   2.825010e+06
unique           NaN             NaN            NaN            NaN
top              NaN             NaN            NaN            NaN
freq             NaN             NaN            NaN            NaN
mean    8.281632e+02    3.784205e+00   2.542142e+01   3.941642e+00
std     5.976288e+02    2.342203e+00   7.632166e+01   3.293289e+01
min     2.100000e+01    1.000000e+00   0.000000e+00   0.000000e+00
25%     3.960000e+02    2.000000e+00   0.000000e+00   0.000000e+00
50%     6.770000e+02    3.000000e+00   5.000000e+00   0.000000e+00
75%     1.065000e+03    5.000000e+00   2.300000e+01   0.000000e+00
max     5.095000e+03    1.100000e+01   3.957000e+03   1.860000e+03

           NAS_DELAY  SECURITY_DELAY  LATE_AIRCRAFT_DELAY  FIRST_DEP_TIME  \
count   2.825010e+06    2.825010e+06         2.825010e+06    88485.000000
unique           NaN             NaN                  NaN             NaN
top              NaN             NaN                  NaN             NaN
freq             NaN             NaN                  NaN             NaN
mean    1.228294e+01    1.476416e-01         2.725065e+01     1335.254958
std     3.058895e+01    3.625653e+00         6.089308e+01      517.613913
min     0.000000e+00    0.000000e+00         0.000000e+00        1.000000
25%     0.000000e+00    0.000000e+00         0.000000e+00      854.000000
50%     0.000000e+00    0.000000e+00         2.000000e+00     1349.000000
75%     1.600000e+01    0.000000e+00         3.100000e+01     1746.000000
max     2.700000e+03    1.460000e+03         3.581000e+03     2400.000000

        TOTAL_ADD_GTIME ORIGIN_STATE_NM DEST_STATE_NM
count      88483.000000        13083280      13083280
unique              NaN              53            53
top                 NaN      California    California
freq                NaN         1412789       1412759
mean          40.007516             NaN           NaN
std           36.099199             NaN           NaN
min            1.000000             NaN           NaN
25%           17.000000             NaN           NaN
50%           29.000000             NaN           NaN
75%           49.000000             NaN           NaN
max          423.000000             NaN           NaN

In [143]:
# Display column names
print(flight_data.columns)

Index(['YEAR', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'FL_DATE',
       'OP_UNIQUE_CARRIER', 'TAIL_NUM', 'OP_CARRIER_FL_NUM',
       'ORIGIN_AIRPORT_ID', 'ORIGIN_CITY_MARKET_ID', 'ORIGIN',
       'ORIGIN_CITY_NAME', 'ORIGIN_STATE_ABR', 'DEST_AIRPORT_ID',
       'DEST_CITY_MARKET_ID', 'DEST', 'DEST_CITY_NAME', 'DEST_STATE_ABR',
       'CRS_DEP_TIME', 'DEP_TIME', 'TAXI_OUT', 'WHEELS_OFF', 'WHEELS_ON',
       'TAXI_IN', 'CRS_ARR_TIME', 'ARR_TIME', 'CANCELLED', 'CANCELLATION_CODE',
       'DIVERTED', 'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME', 'AIR_TIME',
       'FLIGHTS', 'DISTANCE', 'DISTANCE_GROUP', 'CARRIER_DELAY',
       'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY',
       'FIRST_DEP_TIME', 'TOTAL_ADD_GTIME', 'ORIGIN_STATE_NM',
       'DEST_STATE_NM'],
      dtype='object')

In [144]:
# Reformat column titles

# Convert all column names to lowercase
flight_data.columns = flight_data.columns.str.lower()

# Rename specific columns if needed
flight_data.rename(columns={
    'fl_date': 'date', 
    'origin_city_name': 'origin_city',
    'dest_city_name' : 'dest_city',
    'origin' : 'origin_iata',
    'dest' : 'dest_iata',
}, inplace=True)

In [145]:
# Display column names
print(flight_data.columns)

Index(['year', 'month', 'day_of_month', 'day_of_week', 'date',
       'op_unique_carrier', 'tail_num', 'op_carrier_fl_num',
       'origin_airport_id', 'origin_city_market_id', 'origin_iata',
       'origin_city', 'origin_state_abr', 'dest_airport_id',
       'dest_city_market_id', 'dest_iata', 'dest_city', 'dest_state_abr',
       'crs_dep_time', 'dep_time', 'taxi_out', 'wheels_off', 'wheels_on',
       'taxi_in', 'crs_arr_time', 'arr_time', 'cancelled', 'cancellation_code',
       'diverted', 'crs_elapsed_time', 'actual_elapsed_time', 'air_time',
       'flights', 'distance', 'distance_group', 'carrier_delay',
       'weather_delay', 'nas_delay', 'security_delay', 'late_aircraft_delay',
       'first_dep_time', 'total_add_gtime', 'origin_state_nm',
       'dest_state_nm'],
      dtype='object')

In [146]:
# Convert float64 to float32
for col in flight_data.select_dtypes(include=['float64']).columns:
    flight_data[col] = flight_data[col].astype('float32')

# Check memory usage after conversion
print(flight_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13662099 entries, 0 to 13662098
Data columns (total 44 columns):
 #   Column                 Dtype
---  ------                 -----
 0   year                   int64
 1   month                  int64
 2   day_of_month           int64
 3   day_of_week            int64
 4   date                   object
 5   op_unique_carrier      object
 6   tail_num               object
 7   op_carrier_fl_num      int64
 8   origin_airport_id      int64
 9   origin_city_market_id  int64
 10  origin_iata            object
 11  origin_city            object
 12  origin_state_abr       object
 13  dest_airport_id        int64
 14  dest_city_market_id    int64
 15  dest_iata              object
 16  dest_city              object
 17  dest_state_abr         object
 18  crs_dep_time           int64
 19  dep_time               float32
 20  taxi_out               float32
 21  wheels_off             float32
 22  wheels_on              float32
 23  taxi_in                float32
 24  crs_arr_time           int64
 25  arr_time               float32
 26  cancelled              float32
 27  cancellation_code      object
 28  diverted               float32
 29  crs_elapsed_time       float32
 30  actual_elapsed_time    float32
 31  air_time               float32
 32  flights                float32
 33  distance               float32
 34  distance_group         int64
 35  carrier_delay          float32
 36  weather_delay          float32
 37  nas_delay              float32
 38  security_delay         float32
 39  late_aircraft_delay    float32
 40  first_dep_time         float32
 41  total_add_gtime        float32
 42  origin_state_nm        object
 43  dest_state_nm          object
dtypes: float32(20), int64(12), object(12)
memory usage: 3.5+ GB
None

In [147]:
# Calculate the proportion of missing values for each column
missing_proportion = flight_data.isnull().mean()

# Filter columns where the proportion of missing values is more than 20%
high_missing_cols = missing_proportion[missing_proportion > 0.20].index

# Display columns with high missing values
print("Columns with more than 20% missing values:")
print(high_missing_cols)

Columns with more than 20% missing values:
Index(['origin_state_abr', 'dest_state_abr', 'cancellation_code',
       'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay',
       'late_aircraft_delay', 'first_dep_time', 'total_add_gtime'],
      dtype='object')

In [148]:
# Calculate the percentage of NaN values for each column
nan_percentage = flight_data.isna().mean() * 100

# Adjust pandas display options
pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.max_rows', None)     # Show all rows if there are many rows

# Print the results
print(nan_percentage)

year                      0.000000
month                     0.000000
day_of_month              0.000000
day_of_week               0.000000
date                      0.000000
op_unique_carrier         0.000000
tail_num                  0.347289
op_carrier_fl_num         0.000000
origin_airport_id         0.000000
origin_city_market_id     0.000000
origin_iata               0.000000
origin_city               0.000000
origin_state_abr         95.763323
dest_airport_id           0.000000
dest_city_market_id       0.000000
dest_iata                 0.000000
dest_city                 0.000000
dest_state_abr           95.763323
crs_dep_time              0.000000
dep_time                  1.751715
taxi_out                  1.796605
wheels_off                1.796605
wheels_on                 1.832734
taxi_in                   1.832734
crs_arr_time              0.000000
arr_time                  1.832713
cancelled                 0.000000
cancellation_code        98.192942
diverted                  0.000000
crs_elapsed_time          0.000044
actual_elapsed_time       2.047504
air_time                  2.047504
flights                   0.000000
distance                  0.000000
distance_group            0.000000
carrier_delay            79.322284
weather_delay            79.322284
nas_delay                79.322284
security_delay           79.322284
late_aircraft_delay      79.322284
first_dep_time           99.352332
total_add_gtime          99.352347
origin_state_nm           4.236677
dest_state_nm             4.236677
dtype: float64

In [149]:
# Drop columns with more than 95% missing values

# Identify columns with more than 95% missing values
columns_to_drop = nan_percentage[nan_percentage > 95.0].index

# Drop the identified columns
flight_data = flight_data.drop(columns=columns_to_drop)

# Verify the changes
print(flight_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13662099 entries, 0 to 13662098
Data columns (total 39 columns):
 #   Column                 Dtype
---  ------                 -----
 0   year                   int64
 1   month                  int64
 2   day_of_month           int64
 3   day_of_week            int64
 4   date                   object
 5   op_unique_carrier      object
 6   tail_num               object
 7   op_carrier_fl_num      int64
 8   origin_airport_id      int64
 9   origin_city_market_id  int64
 10  origin_iata            object
 11  origin_city            object
 12  dest_airport_id        int64
 13  dest_city_market_id    int64
 14  dest_iata              object
 15  dest_city              object
 16  crs_dep_time           int64
 17  dep_time               float32
 18  taxi_out               float32
 19  wheels_off             float32
 20  wheels_on              float32
 21  taxi_in                float32
 22  crs_arr_time           int64
 23  arr_time               float32
 24  cancelled              float32
 25  diverted               float32
 26  crs_elapsed_time       float32
 27  actual_elapsed_time    float32
 28  air_time               float32
 29  flights                float32
 30  distance               float32
 31  distance_group         int64
 32  carrier_delay          float32
 33  weather_delay          float32
 34  nas_delay              float32
 35  security_delay         float32
 36  late_aircraft_delay    float32
 37  origin_state_nm        object
 38  dest_state_nm          object
dtypes: float32(18), int64(12), object(9)
memory usage: 3.1+ GB
None

In [150]:
# Calculate the percentage of NaN values for each column
nan_percentage = flight_data.isna().mean() * 100

# Adjust pandas display options
pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.max_rows', None)     # Show all rows if there are many rows

# Print the results
print(nan_percentage)

year                      0.000000
month                     0.000000
day_of_month              0.000000
day_of_week               0.000000
date                      0.000000
op_unique_carrier         0.000000
tail_num                  0.347289
op_carrier_fl_num         0.000000
origin_airport_id         0.000000
origin_city_market_id     0.000000
origin_iata               0.000000
origin_city               0.000000
dest_airport_id           0.000000
dest_city_market_id       0.000000
dest_iata                 0.000000
dest_city                 0.000000
crs_dep_time              0.000000
dep_time                  1.751715
taxi_out                  1.796605
wheels_off                1.796605
wheels_on                 1.832734
taxi_in                   1.832734
crs_arr_time              0.000000
arr_time                  1.832713
cancelled                 0.000000
diverted                  0.000000
crs_elapsed_time          0.000044
actual_elapsed_time       2.047504
air_time                  2.047504
flights                   0.000000
distance                  0.000000
distance_group            0.000000
carrier_delay            79.322284
weather_delay            79.322284
nas_delay                79.322284
security_delay           79.322284
late_aircraft_delay      79.322284
origin_state_nm           4.236677
dest_state_nm             4.236677
dtype: float64

All of the columns with nan percentages of approximately 79.32 appear to be related to delays specifically so we are going to investigate what this data is before considering removal.

In [152]:
# Calculate the number of NaN values per row
num_nans_per_row = flight_data.isnull().sum(axis=1)

# Calculate the total number of columns in the DataFrame
total_columns = flight_data.shape[1]

# Calculate the proportion of NaN values per row
nan_proportion_per_row = num_nans_per_row / total_columns

In [153]:
# Define the threshold (e.g., 80%)
threshold = 0.80

# Identify rows where the proportion of NaN values is more than the threshold
rows_with_high_nan = flight_data[nan_proportion_per_row > threshold]

# Display the rows with high NaN proportions
print("Rows with more than 80% NaN values:")
print(rows_with_high_nan)

Rows with more than 80% NaN values:
Empty DataFrame
Columns: [year, month, day_of_month, day_of_week, date, op_unique_carrier, tail_num, op_carrier_fl_num, origin_airport_id, origin_city_market_id, origin_iata, origin_city, dest_airport_id, dest_city_market_id, dest_iata, dest_city, crs_dep_time, dep_time, taxi_out, wheels_off, wheels_on, taxi_in, crs_arr_time, arr_time, cancelled, diverted, crs_elapsed_time, actual_elapsed_time, air_time, flights, distance, distance_group, carrier_delay, weather_delay, nas_delay, security_delay, late_aircraft_delay, origin_state_nm, dest_state_nm]
Index: []

In [154]:
# Define the threshold (e.g., 30%)
#threshold = 0.30

# Identify rows where the proportion of NaN values is more than the threshold
#rows_with_high_nan = flight_data[nan_proportion_per_row > threshold]

# Display the rows with high NaN proportions
#print("Rows with more than 30% NaN values:")
#print(rows_with_high_nan)

In [155]:
# save the cleaned DataFrame to a new CSV file
flight_data.to_csv('cleaned_flight_data.csv', index=False)

In [156]:
print(flight_data.columns)

Index(['year', 'month', 'day_of_month', 'day_of_week', 'date',
       'op_unique_carrier', 'tail_num', 'op_carrier_fl_num',
       'origin_airport_id', 'origin_city_market_id', 'origin_iata',
       'origin_city', 'dest_airport_id', 'dest_city_market_id', 'dest_iata',
       'dest_city', 'crs_dep_time', 'dep_time', 'taxi_out', 'wheels_off',
       'wheels_on', 'taxi_in', 'crs_arr_time', 'arr_time', 'cancelled',
       'diverted', 'crs_elapsed_time', 'actual_elapsed_time', 'air_time',
       'flights', 'distance', 'distance_group', 'carrier_delay',
       'weather_delay', 'nas_delay', 'security_delay', 'late_aircraft_delay',
       'origin_state_nm', 'dest_state_nm'],
      dtype='object')

In [157]:
# Drop Columns that provide no useful information for analysis (e.g., unique
# identifiers if not needed)

columns_to_drop = [
    'origin_city_market_id',
    'dest_city_market_id',
    'origin_state_nm',
    'dest_state_nm', 
    'origin_airport_id',
    'dest_airport_id'
]

# Drop the identified columns
flight_data = flight_data.drop(columns=columns_to_drop)

# Verify the changes
print(flight_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13662099 entries, 0 to 13662098
Data columns (total 33 columns):
 #   Column               Dtype
---  ------               -----
 0   year                 int64
 1   month                int64
 2   day_of_month         int64
 3   day_of_week          int64
 4   date                 object
 5   op_unique_carrier    object
 6   tail_num             object
 7   op_carrier_fl_num    int64
 8   origin_iata          object
 9   origin_city          object
 10  dest_iata            object
 11  dest_city            object
 12  crs_dep_time         int64
 13  dep_time             float32
 14  taxi_out             float32
 15  wheels_off           float32
 16  wheels_on            float32
 17  taxi_in              float32
 18  crs_arr_time         int64
 19  arr_time             float32
 20  cancelled            float32
 21  diverted             float32
 22  crs_elapsed_time     float32
 23  actual_elapsed_time  float32
 24  air_time             float32
 25  flights              float32
 26  distance             float32
 27  distance_group       int64
 28  carrier_delay        float32
 29  weather_delay        float32
 30  nas_delay            float32
 31  security_delay       float32
 32  late_aircraft_delay  float32
dtypes: float32(18), int64(8), object(7)
memory usage: 2.4+ GB
None

In [158]:
print(flight_data.head())

   year  month  day_of_month  day_of_week                  date  \
0  2022      5             1            7  5/1/2022 12:00:00 AM
1  2022      5             1            7  5/1/2022 12:00:00 AM
2  2022      5             1            7  5/1/2022 12:00:00 AM
3  2022      5             1            7  5/1/2022 12:00:00 AM
4  2022      5             1            7  5/1/2022 12:00:00 AM

  op_unique_carrier tail_num  op_carrier_fl_num origin_iata  \
0                9E   N131EV               4633         ATL
1                9E   N131EV               4633         HPN
2                9E   N131EV               4717         TYS
3                9E   N131EV               4958         ATL
4                9E   N131EV               4958         OAJ

                     origin_city dest_iata                      dest_city  \
0                    Atlanta, GA       HPN               White Plains, NY
1               White Plains, NY       ATL                    Atlanta, GA
2                  Knoxville, TN       ATL                    Atlanta, GA
3                    Atlanta, GA       OAJ  Jacksonville/Camp Lejeune, NC
4  Jacksonville/Camp Lejeune, NC       ATL                    Atlanta, GA

   crs_dep_time  dep_time  taxi_out  wheels_off  wheels_on  taxi_in  \
0          1558    1556.0      16.0      1612.0     1809.0      3.0
1          1859    1856.0      15.0      1911.0     2100.0      9.0
2           655     650.0      16.0       706.0      742.0      6.0
3          1127    1123.0      14.0      1137.0     1241.0      4.0
4          1334    1329.0      10.0      1339.0     1441.0      5.0

   crs_arr_time  arr_time  cancelled  diverted  crs_elapsed_time  \
0          1814    1812.0        0.0       0.0             136.0
1          2126    2109.0        0.0       0.0             147.0
2           753     748.0        0.0       0.0              58.0
3          1249    1245.0        0.0       0.0              82.0
4          1508    1446.0        0.0       0.0              94.0

   actual_elapsed_time  air_time  flights  distance  distance_group  \
0                136.0     117.0      1.0     780.0               4
1                133.0     109.0      1.0     780.0               4
2                 58.0      36.0      1.0     152.0               1
3                 82.0      64.0      1.0     399.0               2
4                 77.0      62.0      1.0     399.0               2

   carrier_delay  weather_delay  nas_delay  security_delay  \
0            NaN            NaN        NaN             NaN
1            NaN            NaN        NaN             NaN
2            NaN            NaN        NaN             NaN
3            NaN            NaN        NaN             NaN
4            NaN            NaN        NaN             NaN

   late_aircraft_delay
0                  NaN
1                  NaN
2                  NaN
3                  NaN
4                  NaN

In [159]:
# Split origin_city column to reflect city and state
flight_data[['origin_city', 'origin_state']] = flight_data['origin_city'].str.split(', ', expand=True)

# Split dest_city column to reflect city and state
flight_data[['dest_city', 'dest_state']] = flight_data['dest_city'].str.split(', ', expand=True)

In [160]:
print(flight_data.head())

   year  month  day_of_month  day_of_week                  date  \
0  2022      5             1            7  5/1/2022 12:00:00 AM
1  2022      5             1            7  5/1/2022 12:00:00 AM
2  2022      5             1            7  5/1/2022 12:00:00 AM
3  2022      5             1            7  5/1/2022 12:00:00 AM
4  2022      5             1            7  5/1/2022 12:00:00 AM

  op_unique_carrier tail_num  op_carrier_fl_num origin_iata  \
0                9E   N131EV               4633         ATL
1                9E   N131EV               4633         HPN
2                9E   N131EV               4717         TYS
3                9E   N131EV               4958         ATL
4                9E   N131EV               4958         OAJ

                 origin_city dest_iata                  dest_city  \
0                    Atlanta       HPN               White Plains
1               White Plains       ATL                    Atlanta
2                  Knoxville       ATL                    Atlanta
3                    Atlanta       OAJ  Jacksonville/Camp Lejeune
4  Jacksonville/Camp Lejeune       ATL                    Atlanta

   crs_dep_time  dep_time  taxi_out  wheels_off  wheels_on  taxi_in  \
0          1558    1556.0      16.0      1612.0     1809.0      3.0
1          1859    1856.0      15.0      1911.0     2100.0      9.0
2           655     650.0      16.0       706.0      742.0      6.0
3          1127    1123.0      14.0      1137.0     1241.0      4.0
4          1334    1329.0      10.0      1339.0     1441.0      5.0

   crs_arr_time  arr_time  cancelled  diverted  crs_elapsed_time  \
0          1814    1812.0        0.0       0.0             136.0
1          2126    2109.0        0.0       0.0             147.0
2           753     748.0        0.0       0.0              58.0
3          1249    1245.0        0.0       0.0              82.0
4          1508    1446.0        0.0       0.0              94.0

   actual_elapsed_time  air_time  flights  distance  distance_group  \
0                136.0     117.0      1.0     780.0               4
1                133.0     109.0      1.0     780.0               4
2                 58.0      36.0      1.0     152.0               1
3                 82.0      64.0      1.0     399.0               2
4                 77.0      62.0      1.0     399.0               2

   carrier_delay  weather_delay  nas_delay  security_delay  \
0            NaN            NaN        NaN             NaN
1            NaN            NaN        NaN             NaN
2            NaN            NaN        NaN             NaN
3            NaN            NaN        NaN             NaN
4            NaN            NaN        NaN             NaN

   late_aircraft_delay origin_state dest_state
0                  NaN           GA         NY
1                  NaN           NY         GA
2                  NaN           TN         GA
3                  NaN           GA         NC
4                  NaN           NC         GA

In [196]:
# Drop rows with missing values in year, month, or day_of_month
flight_data = flight_data.dropna(subset=['year', 'month', 'day_of_month'])

In [200]:
# check data types
flight_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13662099 entries, 0 to 13662098
Data columns (total 35 columns):
 #   Column               Dtype
---  ------               -----
 0   year                 int64
 1   month                int64
 2   day_of_month         int64
 3   day_of_week          int64
 4   date                 object
 5   op_unique_carrier    object
 6   tail_num             object
 7   op_carrier_fl_num    int64
 8   origin_iata          object
 9   origin_city          object
 10  dest_iata            object
 11  dest_city            object
 12  crs_dep_time         int64
 13  dep_time             float32
 14  taxi_out             float32
 15  wheels_off           float32
 16  wheels_on            float32
 17  taxi_in              float32
 18  crs_arr_time         int64
 19  arr_time             float32
 20  cancelled            float32
 21  diverted             float32
 22  crs_elapsed_time     float32
 23  actual_elapsed_time  float32
 24  air_time             float32
 25  flights              float32
 26  distance             float32
 27  distance_group       int64
 28  carrier_delay        float32
 29  weather_delay        float32
 30  nas_delay            float32
 31  security_delay       float32
 32  late_aircraft_delay  float32
 33  origin_state         object
 34  dest_state           object
dtypes: float32(18), int64(8), object(9)
memory usage: 2.6+ GB

In [202]:
# Check for invalid day values
invalid_days = flight_data[
    (flight_data['day_of_month'] < 1) | 
    (flight_data['day_of_month'] > 31)
]
print("\nInvalid day_of_month values:")
print(invalid_days)

Invalid day_of_month values:
Empty DataFrame
Columns: [year, month, day_of_month, day_of_week, date, op_unique_carrier, tail_num, op_carrier_fl_num, origin_iata, origin_city, dest_iata, dest_city, crs_dep_time, dep_time, taxi_out, wheels_off, wheels_on, taxi_in, crs_arr_time, arr_time, cancelled, diverted, crs_elapsed_time, actual_elapsed_time, air_time, flights, distance, distance_group, carrier_delay, weather_delay, nas_delay, security_delay, late_aircraft_delay, origin_state, dest_state]
Index: []

In [206]:
# Check for duplicate rows
# duplicates = flight_data[flight_data.duplicated()]
# print("\nDuplicate rows:")
# print(duplicates)

duplicate_count = flight_data.duplicated().sum()
print(f"Total duplicate rows: {duplicate_count}")

Total duplicate rows: 557095

In [208]:
# Identify duplicate rows
duplicates = flight_data[flight_data.duplicated(keep=False)]

# Display the first 10 duplicate rows
print(duplicates.head(10))

         year  month  day_of_month  day_of_week                   date  \
3459566  2022     12             1            4  12/1/2022 12:00:00 AM
3459567  2022     12             1            4  12/1/2022 12:00:00 AM
3459568  2022     12             1            4  12/1/2022 12:00:00 AM
3459569  2022     12             1            4  12/1/2022 12:00:00 AM
3459570  2022     12             1            4  12/1/2022 12:00:00 AM
3459571  2022     12             1            4  12/1/2022 12:00:00 AM
3459572  2022     12             1            4  12/1/2022 12:00:00 AM
3459573  2022     12             1            4  12/1/2022 12:00:00 AM
3459574  2022     12             1            4  12/1/2022 12:00:00 AM
3459575  2022     12             1            4  12/1/2022 12:00:00 AM

        op_unique_carrier tail_num  op_carrier_fl_num origin_iata origin_city  \
3459566                9E   N131EV               4736         ILM  Wilmington
3459567                9E   N131EV               4866         LGA    New York
3459568                9E   N131EV               5045         BDL    Hartford
3459569                9E   N131EV               5045         LGA    New York
3459570                9E   N131EV               5421         CVG  Cincinnati
3459571                9E   N132EV               5052         BUF     Buffalo
3459572                9E   N132EV               5052         LGA    New York
3459573                9E   N132EV               5428         CLT   Charlotte
3459574                9E   N132EV               5428         LGA    New York
3459575                9E   N132EV               5506         OMA       Omaha

        dest_iata   dest_city  crs_dep_time  dep_time  taxi_out  wheels_off  \
3459566       ATL     Atlanta          1855    1909.0       8.0      1917.0
3459567       ILM  Wilmington          1600    1630.0      36.0      1706.0
3459568       LGA    New York          1350    1345.0      20.0      1405.0
3459569       BDL    Hartford          1150    1140.0      14.0      1154.0
3459570       LGA    New York           855     850.0      12.0       902.0
3459571       LGA    New York          1335    1330.0      10.0      1340.0
3459572       BUF     Buffalo          1045    1106.0      17.0      1123.0
3459573       LGA    New York          1859    1859.0      32.0      1931.0
3459574       CLT   Charlotte          1550    1542.0      12.0      1554.0
3459575       LGA    New York           600     554.0      25.0       619.0

         wheels_on  taxi_in  crs_arr_time  arr_time  cancelled  diverted  \
3459566     2024.0     12.0          2038    2036.0        0.0       0.0
3459567     1821.0     12.0          1810    1833.0        0.0       0.0
3459568     1431.0     14.0          1456    1445.0        0.0       0.0
3459569     1220.0      6.0          1301    1226.0        0.0       0.0
3459570     1033.0     16.0          1058    1049.0        0.0       0.0
3459571     1427.0     12.0          1459    1439.0        0.0       0.0
3459572     1225.0      7.0          1224    1232.0        0.0       0.0
3459573     2048.0     19.0          2100    2107.0        0.0       0.0
3459574     1724.0      8.0          1807    1732.0        0.0       0.0
3459575      935.0      9.0           955     944.0        0.0       0.0

         crs_elapsed_time  actual_elapsed_time  air_time  flights  distance  \
3459566             103.0                 87.0      67.0      1.0     377.0
3459567             130.0                123.0      75.0      1.0     500.0
3459568              66.0                 60.0      26.0      1.0     101.0
3459569              71.0                 46.0      26.0      1.0     101.0
3459570             123.0                119.0      91.0      1.0     585.0
3459571              84.0                 69.0      47.0      1.0     292.0
3459572              99.0                 86.0      62.0      1.0     292.0
3459573             121.0                128.0      77.0      1.0     544.0
3459574             137.0                110.0      90.0      1.0     544.0
3459575             175.0                170.0     136.0      1.0    1148.0

         distance_group  carrier_delay  weather_delay  nas_delay  \
3459566               2            NaN            NaN        NaN
3459567               3           23.0            0.0        0.0
3459568               1            NaN            NaN        NaN
3459569               1            NaN            NaN        NaN
3459570               3            NaN            NaN        NaN
3459571               2            NaN            NaN        NaN
3459572               2            NaN            NaN        NaN
3459573               3            NaN            NaN        NaN
3459574               3            NaN            NaN        NaN
3459575               5            NaN            NaN        NaN

         security_delay  late_aircraft_delay origin_state dest_state
3459566             NaN                  NaN           NC         GA
3459567             0.0                  0.0           NY         NC
3459568             NaN                  NaN           CT         NY
3459569             NaN                  NaN           NY         CT
3459570             NaN                  NaN           OH         NY
3459571             NaN                  NaN           NY         NY
3459572             NaN                  NaN           NY         NY
3459573             NaN                  NaN           NC         NY
3459574             NaN                  NaN           NY         NC
3459575             NaN                  NaN           NE         NY

In [210]:
# Normalize string columns (remove spaces and convert to lower case)
for col in flight_data.select_dtypes(include='object').columns:
    flight_data[col] = flight_data[col].str.strip().str.lower()

# Identify duplicate rows where all cells are identical
duplicates = flight_data[flight_data.duplicated(keep=False)]

In [212]:
# Display the first 10 duplicate rows
print(duplicates.head(10))

         year  month  day_of_month  day_of_week                   date  \
3459566  2022     12             1            4  12/1/2022 12:00:00 am
3459567  2022     12             1            4  12/1/2022 12:00:00 am
3459568  2022     12             1            4  12/1/2022 12:00:00 am
3459569  2022     12             1            4  12/1/2022 12:00:00 am
3459570  2022     12             1            4  12/1/2022 12:00:00 am
3459571  2022     12             1            4  12/1/2022 12:00:00 am
3459572  2022     12             1            4  12/1/2022 12:00:00 am
3459573  2022     12             1            4  12/1/2022 12:00:00 am
3459574  2022     12             1            4  12/1/2022 12:00:00 am
3459575  2022     12             1            4  12/1/2022 12:00:00 am

        op_unique_carrier tail_num  op_carrier_fl_num origin_iata origin_city  \
3459566                9e   n131ev               4736         ilm  wilmington
3459567                9e   n131ev               4866         lga    new york
3459568                9e   n131ev               5045         bdl    hartford
3459569                9e   n131ev               5045         lga    new york
3459570                9e   n131ev               5421         cvg  cincinnati
3459571                9e   n132ev               5052         buf     buffalo
3459572                9e   n132ev               5052         lga    new york
3459573                9e   n132ev               5428         clt   charlotte
3459574                9e   n132ev               5428         lga    new york
3459575                9e   n132ev               5506         oma       omaha

        dest_iata   dest_city  crs_dep_time  dep_time  taxi_out  wheels_off  \
3459566       atl     atlanta          1855    1909.0       8.0      1917.0
3459567       ilm  wilmington          1600    1630.0      36.0      1706.0
3459568       lga    new york          1350    1345.0      20.0      1405.0
3459569       bdl    hartford          1150    1140.0      14.0      1154.0
3459570       lga    new york           855     850.0      12.0       902.0
3459571       lga    new york          1335    1330.0      10.0      1340.0
3459572       buf     buffalo          1045    1106.0      17.0      1123.0
3459573       lga    new york          1859    1859.0      32.0      1931.0
3459574       clt   charlotte          1550    1542.0      12.0      1554.0
3459575       lga    new york           600     554.0      25.0       619.0

         wheels_on  taxi_in  crs_arr_time  arr_time  cancelled  diverted  \
3459566     2024.0     12.0          2038    2036.0        0.0       0.0
3459567     1821.0     12.0          1810    1833.0        0.0       0.0
3459568     1431.0     14.0          1456    1445.0        0.0       0.0
3459569     1220.0      6.0          1301    1226.0        0.0       0.0
3459570     1033.0     16.0          1058    1049.0        0.0       0.0
3459571     1427.0     12.0          1459    1439.0        0.0       0.0
3459572     1225.0      7.0          1224    1232.0        0.0       0.0
3459573     2048.0     19.0          2100    2107.0        0.0       0.0
3459574     1724.0      8.0          1807    1732.0        0.0       0.0
3459575      935.0      9.0           955     944.0        0.0       0.0

         crs_elapsed_time  actual_elapsed_time  air_time  flights  distance  \
3459566             103.0                 87.0      67.0      1.0     377.0
3459567             130.0                123.0      75.0      1.0     500.0
3459568              66.0                 60.0      26.0      1.0     101.0
3459569              71.0                 46.0      26.0      1.0     101.0
3459570             123.0                119.0      91.0      1.0     585.0
3459571              84.0                 69.0      47.0      1.0     292.0
3459572              99.0                 86.0      62.0      1.0     292.0
3459573             121.0                128.0      77.0      1.0     544.0
3459574             137.0                110.0      90.0      1.0     544.0
3459575             175.0                170.0     136.0      1.0    1148.0

         distance_group  carrier_delay  weather_delay  nas_delay  \
3459566               2            NaN            NaN        NaN
3459567               3           23.0            0.0        0.0
3459568               1            NaN            NaN        NaN
3459569               1            NaN            NaN        NaN
3459570               3            NaN            NaN        NaN
3459571               2            NaN            NaN        NaN
3459572               2            NaN            NaN        NaN
3459573               3            NaN            NaN        NaN
3459574               3            NaN            NaN        NaN
3459575               5            NaN            NaN        NaN

         security_delay  late_aircraft_delay origin_state dest_state
3459566             NaN                  NaN           nc         ga
3459567             0.0                  0.0           ny         nc
3459568             NaN                  NaN           ct         ny
3459569             NaN                  NaN           ny         ct
3459570             NaN                  NaN           oh         ny
3459571             NaN                  NaN           ny         ny
3459572             NaN                  NaN           ny         ny
3459573             NaN                  NaN           nc         ny
3459574             NaN                  NaN           ny         nc
3459575             NaN                  NaN           ne         ny

In [214]:
# Count the number of total duplicates
duplicate_count = duplicates.shape[0]
print(f"Total duplicate rows (all cells identical): {duplicate_count}")

Total duplicate rows (all cells identical): 1114190

In [216]:
# Drop all duplicate rows
flight_data = flight_data.drop_duplicates()

In [218]:
# Check duplicates
duplicate_count = flight_data.duplicated().sum()
print(f"Total duplicate rows: {duplicate_count}")

Total duplicate rows: 0

In [224]:
flight_data.shape

(13105004, 35)

In [220]:
# combine the three columns into a new 'date' column in datetime format
# Ensure to handle any missing values as needed
#flight_data['date'] = pd.to_datetime(flight_data[['year', 'month', 'day_of_month']], errors='coerce')

# Creating the date column using apply
flight_data['date'] = flight_data.apply(lambda row: pd.Timestamp(year=row['year'], month=row['month'], day=row['day_of_month']), axis=1)

# Display the updated DataFrame
print("\nUpdated DataFrame with date:")
print(flight_data.head())

Updated DataFrame with date:
   year  month  day_of_month  day_of_week       date op_unique_carrier  \
0  2022      5             1            7 2022-05-01                9e
1  2022      5             1            7 2022-05-01                9e
2  2022      5             1            7 2022-05-01                9e
3  2022      5             1            7 2022-05-01                9e
4  2022      5             1            7 2022-05-01                9e

  tail_num  op_carrier_fl_num origin_iata                origin_city  \
0   n131ev               4633         atl                    atlanta
1   n131ev               4633         hpn               white plains
2   n131ev               4717         tys                  knoxville
3   n131ev               4958         atl                    atlanta
4   n131ev               4958         oaj  jacksonville/camp lejeune

  dest_iata                  dest_city  crs_dep_time  dep_time  taxi_out  \
0       hpn               white plains          1558    1556.0      16.0
1       atl                    atlanta          1859    1856.0      15.0
2       atl                    atlanta           655     650.0      16.0
3       oaj  jacksonville/camp lejeune          1127    1123.0      14.0
4       atl                    atlanta          1334    1329.0      10.0

   wheels_off  wheels_on  taxi_in  crs_arr_time  arr_time  cancelled  \
0      1612.0     1809.0      3.0          1814    1812.0        0.0
1      1911.0     2100.0      9.0          2126    2109.0        0.0
2       706.0      742.0      6.0           753     748.0        0.0
3      1137.0     1241.0      4.0          1249    1245.0        0.0
4      1339.0     1441.0      5.0          1508    1446.0        0.0

   diverted  crs_elapsed_time  actual_elapsed_time  air_time  flights  \
0       0.0             136.0                136.0     117.0      1.0
1       0.0             147.0                133.0     109.0      1.0
2       0.0              58.0                 58.0      36.0      1.0
3       0.0              82.0                 82.0      64.0      1.0
4       0.0              94.0                 77.0      62.0      1.0

   distance  distance_group  carrier_delay  weather_delay  nas_delay  \
0     780.0               4            NaN            NaN        NaN
1     780.0               4            NaN            NaN        NaN
2     152.0               1            NaN            NaN        NaN
3     399.0               2            NaN            NaN        NaN
4     399.0               2            NaN            NaN        NaN

   security_delay  late_aircraft_delay origin_state dest_state
0             NaN                  NaN           ga         ny
1             NaN                  NaN           ny         ga
2             NaN                  NaN           tn         ga
3             NaN                  NaN           ga         nc
4             NaN                  NaN           nc         ga

In [161]:
print(flight_data['op_unique_carrier'].dtype)

object

In [162]:
# convert column op_unique_carrier to string
flight_data['op_unique_carrier'] = flight_data['op_unique_carrier'].astype(str)

In [163]:
print(flight_data['op_unique_carrier'].dtype)

object

In [164]:
# Display unique values in the column
print(flight_data['op_unique_carrier'].unique())

['9E' 'AA' 'AS' 'B6' 'DL' 'F9' 'G4' 'HA' 'MQ' 'NK' 'OH' 'OO' 'QX' 'UA'
 'WN' 'YV' 'YX']

In [226]:
# Save the DataFrame to a CSV file
flight_data.to_csv(r'C:\Users\hopeh\Desktop\data_science_bootcamp\flight_times_capstone\cleaned_flight_data.csv', index=False)

print("DataFrame saved to cleaned_flight_data.csv")

DataFrame saved to cleaned_flight_data.csv

In [190]:
print(flight_data.columns)

Index(['year', 'month', 'day_of_month', 'day_of_week', 'date',
       'op_unique_carrier', 'tail_num', 'op_carrier_fl_num', 'origin_iata',
       'origin_city', 'dest_iata', 'dest_city', 'crs_dep_time', 'dep_time',
       'taxi_out', 'wheels_off', 'wheels_on', 'taxi_in', 'crs_arr_time',
       'arr_time', 'cancelled', 'diverted', 'crs_elapsed_time',
       'actual_elapsed_time', 'air_time', 'flights', 'distance',
       'distance_group', 'carrier_delay', 'weather_delay', 'nas_delay',
       'security_delay', 'late_aircraft_delay', 'origin_state', 'dest_state'],
      dtype='object')