In [60]:
import pandas as pd

# Load the cleaned flight data
flight_data = pd.read_csv(r'C:\Users\hopeh\Desktop\data_science_bootcamp\flight_times_capstone\cleaned_flight_data.csv')

# Load the cleaned IATA data
iata_data = pd.read_csv(r'C:\Users\hopeh\Desktop\data_science_bootcamp\flight_times_capstone\cleaned_iata_data.csv')

# Display the first few rows of each DataFrame to confirm they loaded correctly
print(flight_data.head())
print(iata_data.head())

   year  month  day_of_month  day_of_week        date op_unique_carrier  \
0  2022      5             1            7  2022-05-01                9e
1  2022      5             1            7  2022-05-01                9e
2  2022      5             1            7  2022-05-01                9e
3  2022      5             1            7  2022-05-01                9e
4  2022      5             1            7  2022-05-01                9e

  tail_num  op_carrier_fl_num origin_iata                origin_city  ...  \
0   n131ev               4633         atl                    atlanta  ...
1   n131ev               4633         hpn               white plains  ...
2   n131ev               4717         tys                  knoxville  ...
3   n131ev               4958         atl                    atlanta  ...
4   n131ev               4958         oaj  jacksonville/camp lejeune  ...

  flights distance  distance_group  carrier_delay  weather_delay  nas_delay  \
0     1.0    780.0               4            NaN            NaN        NaN
1     1.0    780.0               4            NaN            NaN        NaN
2     1.0    152.0               1            NaN            NaN        NaN
3     1.0    399.0               2            NaN            NaN        NaN
4     1.0    399.0               2            NaN            NaN        NaN

   security_delay  late_aircraft_delay  origin_state  dest_state
0             NaN                  NaN            ga          ny
1             NaN                  NaN            ny          ga
2             NaN                  NaN            tn          ga
3             NaN                  NaN            ga          nc
4             NaN                  NaN            nc          ga

[5 rows x 35 columns]
     state iata                        airport_name  latitude  longitude  \
0  Alabama  AIV               George Downer Airport   33.1065   -88.1978
1  Alabama  ALX             Thomas C. Russell Field   32.9147   -85.9630
2  Alabama  ANB           Anniston Regional Airport   33.5882   -85.8581
3  Alabama  ASN         Talladega Municipal Airport   33.5699   -86.0509
4  Alabama  AUO  Auburn University Regional Airport   32.6151   -85.4340

   unique_id state_abbr
0          1         AL
1          2         AL
2          3         AL
3          4         AL
4          5         AL

In [61]:
print(flight_data.columns)
print(iata_data.columns)

Index(['year', 'month', 'day_of_month', 'day_of_week', 'date',
       'op_unique_carrier', 'tail_num', 'op_carrier_fl_num', 'origin_iata',
       'origin_city', 'dest_iata', 'dest_city', 'crs_dep_time', 'dep_time',
       'taxi_out', 'wheels_off', 'wheels_on', 'taxi_in', 'crs_arr_time',
       'arr_time', 'cancelled', 'diverted', 'crs_elapsed_time',
       'actual_elapsed_time', 'air_time', 'flights', 'distance',
       'distance_group', 'carrier_delay', 'weather_delay', 'nas_delay',
       'security_delay', 'late_aircraft_delay', 'origin_state', 'dest_state'],
      dtype='object')
Index(['state', 'iata', 'airport_name', 'latitude', 'longitude', 'unique_id',
       'state_abbr'],
      dtype='object')

In [62]:
# Remove multiple columns by names
flight_data = flight_data.drop(columns=['year', 'month', 'day_of_month'])
iata_data = iata_data.drop(columns=['state', 'unique_id'])

In [63]:
print(flight_data.columns)
print(iata_data.columns)

Index(['day_of_week', 'date', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_iata', 'origin_city', 'dest_iata',
       'dest_city', 'crs_dep_time', 'dep_time', 'taxi_out', 'wheels_off',
       'wheels_on', 'taxi_in', 'crs_arr_time', 'arr_time', 'cancelled',
       'diverted', 'crs_elapsed_time', 'actual_elapsed_time', 'air_time',
       'flights', 'distance', 'distance_group', 'carrier_delay',
       'weather_delay', 'nas_delay', 'security_delay', 'late_aircraft_delay',
       'origin_state', 'dest_state'],
      dtype='object')
Index(['iata', 'airport_name', 'latitude', 'longitude', 'state_abbr'], dtype='object')

In [64]:
print(flight_data.shape)
print(iata_data.shape)

(13105004, 32)
(2029, 5)

In [65]:
# Function to clean column names and string values
def clean_dataframe(df):
    # Convert column names to lowercase and strip whitespace
    df.columns = df.columns.str.lower().str.strip()
    # Convert all string values to lowercase and strip whitespace
    for col in df.select_dtypes(include=['object']).columns:
        df[col] = df[col].str.lower().str.strip()
    return df

# Clean both datasets
flight_data = clean_dataframe(flight_data)
iata_data = clean_dataframe(iata_data)

# Now both datasets have lowercase columns and cleaned string values

In [66]:
print(flight_data.head())
print(iata_data.head())

   day_of_week        date op_unique_carrier tail_num  op_carrier_fl_num  \
0            7  2022-05-01                9e   n131ev               4633
1            7  2022-05-01                9e   n131ev               4633
2            7  2022-05-01                9e   n131ev               4717
3            7  2022-05-01                9e   n131ev               4958
4            7  2022-05-01                9e   n131ev               4958

  origin_iata                origin_city dest_iata                  dest_city  \
0         atl                    atlanta       hpn               white plains
1         hpn               white plains       atl                    atlanta
2         tys                  knoxville       atl                    atlanta
3         atl                    atlanta       oaj  jacksonville/camp lejeune
4         oaj  jacksonville/camp lejeune       atl                    atlanta

   crs_dep_time  ...  flights  distance  distance_group  carrier_delay  \
0          1558  ...      1.0     780.0               4            NaN
1          1859  ...      1.0     780.0               4            NaN
2           655  ...      1.0     152.0               1            NaN
3          1127  ...      1.0     399.0               2            NaN
4          1334  ...      1.0     399.0               2            NaN

   weather_delay  nas_delay  security_delay  late_aircraft_delay  \
0            NaN        NaN             NaN                  NaN
1            NaN        NaN             NaN                  NaN
2            NaN        NaN             NaN                  NaN
3            NaN        NaN             NaN                  NaN
4            NaN        NaN             NaN                  NaN

   origin_state  dest_state
0            ga          ny
1            ny          ga
2            tn          ga
3            ga          nc
4            nc          ga

[5 rows x 32 columns]
  iata                        airport_name  latitude  longitude state_abbr
0  aiv               george downer airport   33.1065   -88.1978         al
1  alx             thomas c. russell field   32.9147   -85.9630         al
2  anb           anniston regional airport   33.5882   -85.8581         al
3  asn         talladega municipal airport   33.5699   -86.0509         al
4  auo  auburn university regional airport   32.6151   -85.4340         al

In [67]:
# Merge on origin_iata
merged_data = flight_data.merge(iata_data, left_on='origin_iata', right_on='iata', suffixes=('', '_origin'))

# Merge on dest_iata
merged_data = merged_data.merge(iata_data, left_on='dest_iata', right_on='iata', suffixes=('', '_dest'))

# Now merged_data contains the combined information from both datasets

In [68]:
print(merged_data.head())

   day_of_week        date op_unique_carrier tail_num  op_carrier_fl_num  \
0            7  2022-05-01                9e   n131ev               4633
1            7  2022-05-01                9e   n131ev               4633
2            7  2022-05-01                9e   n131ev               4717
3            7  2022-05-01                9e   n131ev               4958
4            7  2022-05-01                9e   n131ev               4958

  origin_iata                origin_city dest_iata                  dest_city  \
0         atl                    atlanta       hpn               white plains
1         hpn               white plains       atl                    atlanta
2         tys                  knoxville       atl                    atlanta
3         atl                    atlanta       oaj  jacksonville/camp lejeune
4         oaj  jacksonville/camp lejeune       atl                    atlanta

   crs_dep_time  ...  iata                                      airport_name  \
0          1558  ...   atl  hartsfield-jackson atlanta international airport
1          1859  ...   hpn                        westchester county airport
2           655  ...   tys                              mcghee tyson airport
3          1127  ...   atl  hartsfield-jackson atlanta international airport
4          1334  ...   oaj                           albert j. ellis airport

   latitude  longitude  state_abbr  iata_dest  \
0   33.6367   -84.4281          ga        hpn
1   41.0670   -73.7076          ny        atl
2   35.8110   -83.9940          tn        atl
3   33.6367   -84.4281          ga        oaj
4   34.8292   -77.6121          nc        atl

                                  airport_name_dest  latitude_dest  \
0                        westchester county airport        41.0670
1  hartsfield-jackson atlanta international airport        33.6367
2  hartsfield-jackson atlanta international airport        33.6367
3                           albert j. ellis airport        34.8292
4  hartsfield-jackson atlanta international airport        33.6367

   longitude_dest  state_abbr_dest
0        -73.7076               ny
1        -84.4281               ga
2        -84.4281               ga
3        -77.6121               nc
4        -84.4281               ga

[5 rows x 42 columns]

In [69]:
print(merged_data.columns)

Index(['day_of_week', 'date', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_iata', 'origin_city', 'dest_iata',
       'dest_city', 'crs_dep_time', 'dep_time', 'taxi_out', 'wheels_off',
       'wheels_on', 'taxi_in', 'crs_arr_time', 'arr_time', 'cancelled',
       'diverted', 'crs_elapsed_time', 'actual_elapsed_time', 'air_time',
       'flights', 'distance', 'distance_group', 'carrier_delay',
       'weather_delay', 'nas_delay', 'security_delay', 'late_aircraft_delay',
       'origin_state', 'dest_state', 'iata', 'airport_name', 'latitude',
       'longitude', 'state_abbr', 'iata_dest', 'airport_name_dest',
       'latitude_dest', 'longitude_dest', 'state_abbr_dest'],
      dtype='object')

In [70]:
print(merged_data[merged_data['origin_iata']=='stl'])

          day_of_week        date op_unique_carrier tail_num  \
100                 7  2022-05-01                9e   n295pq
228                 7  2022-05-01                9e   n330pq
307                 7  2022-05-01                9e   n482px
662                 7  2022-05-01                9e   n936xj
1705                7  2022-05-01                aa   n738us
...               ...         ...               ...      ...
12950971            2  2024-04-30                yx   n426yx
12951019            2  2024-04-30                yx   n436yx
12951149            2  2024-04-30                yx   n745yx
12951181            2  2024-04-30                yx   n755yx
12951294            2  2024-04-30                yx   n880rw

          op_carrier_fl_num origin_iata origin_city dest_iata    dest_city  \
100                    5372         stl   st. louis       lga     new york
228                    5094         stl   st. louis       lga     new york
307                    5387         stl   st. louis       lga     new york
662                    5090         stl   st. louis       lga     new york
1705                    453         stl   st. louis       lax  los angeles
...                     ...         ...         ...       ...          ...
12950971               4344         stl   st. louis       bos       boston
12951019               4365         stl   st. louis       bos       boston
12951149               3684         stl   st. louis       ewr       newark
12951181               3568         stl   st. louis       ord      chicago
12951294               5820         stl   st. louis       lga     new york

          crs_dep_time  ...  iata                             airport_name  \
100                740  ...   stl  lambert-st. louis international airport
228               1446  ...   stl  lambert-st. louis international airport
307               1135  ...   stl  lambert-st. louis international airport
662               1800  ...   stl  lambert-st. louis international airport
1705              1500  ...   stl  lambert-st. louis international airport
...                ...  ...   ...                                      ...
12950971          1030  ...   stl  lambert-st. louis international airport
12951019          1347  ...   stl  lambert-st. louis international airport
12951149          1149  ...   stl  lambert-st. louis international airport
12951181          1515  ...   stl  lambert-st. louis international airport
12951294           600  ...   stl  lambert-st. louis international airport

          latitude  longitude  state_abbr  iata_dest  \
100        38.7487     -90.37          mo        lga
228        38.7487     -90.37          mo        lga
307        38.7487     -90.37          mo        lga
662        38.7487     -90.37          mo        lga
1705       38.7487     -90.37          mo        lax
...            ...        ...         ...        ...
12950971   38.7487     -90.37          mo        bos
12951019   38.7487     -90.37          mo        bos
12951149   38.7487     -90.37          mo        ewr
12951181   38.7487     -90.37          mo        ord
12951294   38.7487     -90.37          mo        lga

                             airport_name_dest  latitude_dest  longitude_dest  \
100                          laguardia airport        40.7750        -73.8750
228                          laguardia airport        40.7750        -73.8750
307                          laguardia airport        40.7750        -73.8750
662                          laguardia airport        40.7750        -73.8750
1705         los angeles international airport        33.9425       -118.4080
...                                        ...            ...             ...
12950971           logan international airport        42.3643        -71.0052
12951019           logan international airport        42.3643        -71.0052
12951149  newark liberty international airport        40.6925        -74.1686
12951181  chicago o'hare international airport        41.9786        -87.9047
12951294                     laguardia airport        40.7750        -73.8750

          state_abbr_dest
100                    ny
228                    ny
307                    ny
662                    ny
1705                   ca
...                   ...
12950971               ma
12951019               ma
12951149               nj
12951181               il
12951294               ny

[117832 rows x 42 columns]

In [71]:
# Remove multiple columns by names
merged_data = merged_data.drop(columns=['airport_name', 'airport_name_dest'])

In [72]:
# Save the merged_data DataFrame to a CSV file
merged_data.to_csv('flights_iata.csv', index=False)