In [58]:
import pandas as pd

# Load the cleaned weather data
weather_data = pd.read_csv(r'C:\Users\hopeh\Desktop\data_science_bootcamp\flight_times_capstone\cleaned_weather_data.csv')

# Load the cleaned IATA data
iata_data = pd.read_csv(r"C:\Users\hopeh\Desktop\data_science_bootcamp\flight_times_capstone\cleaned_iata_data.csv")

# Display the first few rows of each DataFrame to confirm they loaded correctly
print(weather_data.head())

       station           id  latitude  longitude   elevation        date  \
0  us1alel0004  3774578.csv  32.55035 -86.384499  120.099998  2024-01-01
1  us1alel0004  3774578.csv  32.55035 -86.384499  120.099998  2024-01-02
2  us1alel0004  3774578.csv  32.55035 -86.384499  120.099998  2024-01-03
3  us1alel0004  3774578.csv  32.55035 -86.384499  120.099998  2024-01-04
4  us1alel0004  3774578.csv  32.55035 -86.384499  120.099998  2024-01-05

   prcp  snow  snwd  tmax  tmin  tobs       city state
0  0.00   0.0   NaN   NaN   NaN   NaN  millbrook    al
1  0.00   0.0   NaN   NaN   NaN   NaN  millbrook    al
2  0.00   0.0   NaN   NaN   NaN   NaN  millbrook    al
3  0.21   NaN   NaN   NaN   NaN   NaN  millbrook    al
4  0.00   0.0   NaN   NaN   NaN   NaN  millbrook    al

In [59]:
print(iata_data.head())

     state iata                        airport_name  latitude  longitude  \
0  Alabama  AIV               George Downer Airport   33.1065   -88.1978
1  Alabama  ALX             Thomas C. Russell Field   32.9147   -85.9630
2  Alabama  ANB           Anniston Regional Airport   33.5882   -85.8581
3  Alabama  ASN         Talladega Municipal Airport   33.5699   -86.0509
4  Alabama  AUO  Auburn University Regional Airport   32.6151   -85.4340

   unique_id state_abbr
0          1         AL
1          2         AL
2          3         AL
3          4         AL
4          5         AL

In [60]:
print(iata_data[iata_data['iata']=='STL'])

         state iata                             airport_name  latitude  \
1205  Missouri  STL  Lambert-St. Louis International Airport   38.7487

      longitude  unique_id state_abbr
1205     -90.37       1206         MO

In [61]:
# Function to clean column names and string values
def clean_dataframe(df):
    # Convert column names to lowercase and strip whitespace
    df.columns = df.columns.str.lower().str.strip()
    # Convert all string values to lowercase and strip whitespace
    for col in df.select_dtypes(include=['object']).columns:
        df[col] = df[col].str.lower().str.strip()
    return df

# Clean both datasets
weather_data = clean_dataframe(weather_data)
iata_data = clean_dataframe(iata_data)

# Now both datasets have lowercase columns and cleaned string values

In [62]:
print(weather_data.columns)
print(iata_data.columns)

Index(['station', 'id', 'latitude', 'longitude', 'elevation', 'date', 'prcp',
       'snow', 'snwd', 'tmax', 'tmin', 'tobs', 'city', 'state'],
      dtype='object')
Index(['state', 'iata', 'airport_name', 'latitude', 'longitude', 'unique_id',
       'state_abbr'],
      dtype='object')

In [63]:
print(weather_data.head())
print(iata_data.head())

       station           id  latitude  longitude   elevation        date  \
0  us1alel0004  3774578.csv  32.55035 -86.384499  120.099998  2024-01-01
1  us1alel0004  3774578.csv  32.55035 -86.384499  120.099998  2024-01-02
2  us1alel0004  3774578.csv  32.55035 -86.384499  120.099998  2024-01-03
3  us1alel0004  3774578.csv  32.55035 -86.384499  120.099998  2024-01-04
4  us1alel0004  3774578.csv  32.55035 -86.384499  120.099998  2024-01-05

   prcp  snow  snwd  tmax  tmin  tobs       city state
0  0.00   0.0   NaN   NaN   NaN   NaN  millbrook    al
1  0.00   0.0   NaN   NaN   NaN   NaN  millbrook    al
2  0.00   0.0   NaN   NaN   NaN   NaN  millbrook    al
3  0.21   NaN   NaN   NaN   NaN   NaN  millbrook    al
4  0.00   0.0   NaN   NaN   NaN   NaN  millbrook    al
     state iata                        airport_name  latitude  longitude  \
0  alabama  aiv               george downer airport   33.1065   -88.1978
1  alabama  alx             thomas c. russell field   32.9147   -85.9630
2  alabama  anb           anniston regional airport   33.5882   -85.8581
3  alabama  asn         talladega municipal airport   33.5699   -86.0509
4  alabama  auo  auburn university regional airport   32.6151   -85.4340

   unique_id state_abbr
0          1         al
1          2         al
2          3         al
3          4         al
4          5         al

In [64]:
# Rename the state column to state_abbr
weather_data.rename(columns={'state': 'state_abbr'}, inplace=True)

In [65]:
# Drop the unique_id column from iata_data
iata_data = iata_data.drop(columns=['unique_id', 'state'])

In [66]:
# Drop the station and id columns from weather_data
weather_data = weather_data.drop(columns=['station', 'id',])

In [67]:

# Round latitude and longitude to two decimal places
weather_data['latitude'] = weather_data['latitude'].round(2)
weather_data['longitude'] = weather_data['longitude'].round(2)

iata_data['latitude'] = iata_data['latitude'].round(2)
iata_data['longitude'] = iata_data['longitude'].round(2)

# Merge the datasets on latitude and longitude
#merged_data = pd.merge(weather_data, iata_data, on=['latitude', 'longitude'], how='inner')

# Now merged_data contains the combined information from both datasets

In [68]:
# merge the datasets on the state column in weather_data and state_abbr column in iata_data
#merged_data = pd.merge(weather_data, iata_data, left_on='state', right_on='state_abbr', how='inner')

In [69]:
weather_data.head()

,latitude,longitude,elevation,date,prcp,snow,snwd,tmax,tmin,tobs,city,state_abbr
0,32.55,-86.38,120.099998,2024-01-01,0.00,0.0,NaN,NaN,NaN,NaN,millbrook,al
1,32.55,-86.38,120.099998,2024-01-02,0.00,0.0,NaN,NaN,NaN,NaN,millbrook,al
2,32.55,-86.38,120.099998,2024-01-03,0.00,0.0,NaN,NaN,NaN,NaN,millbrook,al
3,32.55,-86.38,120.099998,2024-01-04,0.21,NaN,NaN,NaN,NaN,NaN,millbrook,al
4,32.55,-86.38,120.099998,2024-01-05,0.00,0.0,NaN,NaN,NaN,NaN,millbrook,al

In [77]:
# Define chunk size for processing
chunk_size = 25000  # Adjust this based on your memory capacity

# Initialize an empty DataFrame to collect merged results
merged_data = pd.DataFrame()

# Process in chunks for the entire weather_data
for i in range(0, len(weather_data), chunk_size):
    chunk = weather_data.iloc[i:i + chunk_size]  # Create a chunk

    # Merge each chunk with iata_data on latitude and longitude
    merged_chunk = pd.merge(
        chunk,
        iata_data,
        left_on=['latitude', 'longitude'],
        right_on=['latitude', 'longitude'],
        how='inner'
    )
    
    # Append the merged chunk to the final DataFrame
    merged_data = pd.concat([merged_data, merged_chunk], ignore_index=True)

# Now merged_data contains the combined information from the entire dataset
print("Merging complete. Total merged rows:", len(merged_data))

Merging complete. Total merged rows: 146022

In [79]:
# Check the number of unique values in the airport_name column
unique_airport_names_count = merged_data['airport_name'].nunique()

# Print the result
print(f"Number of unique airport names: {unique_airport_names_count}")

Number of unique airport names: 391

In [81]:
merged_data.head(-10)

,latitude,longitude,elevation,date,prcp,snow,snwd,tmax,tmin,tobs,city,state_abbr_x,iata,airport_name,state_abbr_y
0,31.95,-85.13,86.800003,2024-01-01,0.00,NaN,NaN,65.0,32.0,NaN,eufaula weedon field airport,al,euf,weedon field,al
1,31.95,-85.13,86.800003,2024-01-02,0.00,NaN,NaN,55.0,27.0,NaN,eufaula weedon field airport,al,euf,weedon field,al
2,31.95,-85.13,86.800003,2024-01-03,0.14,NaN,NaN,43.0,27.0,NaN,eufaula weedon field airport,al,euf,weedon field,al
3,31.95,-85.13,86.800003,2024-01-04,0.00,NaN,NaN,58.0,31.0,NaN,eufaula weedon field airport,al,euf,weedon field,al
4,31.95,-85.13,86.800003,2024-01-05,0.23,NaN,NaN,61.0,29.0,NaN,eufaula weedon field airport,al,euf,weedon field,al
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146007,44.38,-106.72,1503.800049,2023-12-17,0.00,NaN,NaN,45.0,27.0,NaN,buffalo johnson co airport,wy,byg,johnson county airport,wy
146008,44.38,-106.72,1503.800049,2023-12-18,0.00,NaN,NaN,56.0,24.0,NaN,buffalo johnson co airport,wy,byg,johnson county airport,wy
146009,44.38,-106.72,1503.800049,2023-12-19,0.00,NaN,NaN,55.0,34.0,NaN,buffalo johnson co airport,wy,byg,johnson county airport,wy
146010,44.38,-106.72,1503.800049,2023-12-20,0.00,NaN,NaN,54.0,36.0,NaN,buffalo johnson co airport,wy,byg,johnson county airport,wy
146011,44.38,-106.72,1503.800049,2023-12-21,0.00,NaN,NaN,53.0,33.0,NaN,buffalo johnson co airport,wy,byg,johnson county airport,wy

In [83]:
# Check the number of unique values in the airport_name column
unique_airport_names_count = merged_data['airport_name'].nunique()

# Print the result
print(f"Number of unique airport names: {unique_airport_names_count}")

Number of unique airport names: 391

In [85]:
# Check for null or empty values in latitude and longitude columns
null_latitude_count = weather_data['latitude'].isnull().sum()
null_longitude_count = weather_data['longitude'].isnull().sum()

In [87]:
# Check for null or empty values in latitude and longitude columns
null_latitude_count = iata_data['latitude'].isnull().sum()
null_longitude_count = iata_data['longitude'].isnull().sum()

In [91]:
# # Truncate latitude and longitude to 0 decimal places for matching
# weather_data['lat_truncated'] = weather_data['latitude'].apply(lambda x: int(x))
# weather_data['lon_truncated'] = weather_data['longitude'].apply(lambda x: int(x))

# iata_data['lat_truncated'] = iata_data['latitude'].apply(lambda x: int(x))
# iata_data['lon_truncated'] = iata_data['longitude'].apply(lambda x: int(x))

# # Now merge on the truncated columns
# merged_data = pd.merge(
#     weather_data,
#     iata_data,
#     left_on=['lat_truncated', 'lon_truncated'],
#     right_on=['lat_truncated', 'lon_truncated'],
#     how='inner'
# )

# # Drop the temporary truncated columns if needed
# merged_data = merged_data.drop(columns=['lat_truncated', 'lon_truncated'])

# # Now merged_data contains the combined information based on latitude and longitude

In [89]:
merged_data.shape

(146022, 15)

In [95]:
iata_data.shape

(2029, 5)

In [97]:
weather_data.shape

(9109888, 12)

In [99]:
# Save the merged_data DataFrame to a CSV file
merged_data.to_csv('weather_iata.csv', index=False)