In [23]:
import pandas as pd
import os
import numpy as np

Combine all files in weather_data folder into one .csv file titled combined_weather.csv

In [27]:

# Define the folder containing the CSV files and the output file path
input_folder = r'C:\Users\hopeh\Desktop\data_science_bootcamp\flight_times_capstone\weather_data'
output_file = r'C:\Users\hopeh\Desktop\data_science_bootcamp\flight_times_capstone\combined_weather.csv'


# List to hold dataframes
dataframes = []

# Iterate over all files in the folder
for file_name in os.listdir(input_folder):
    if file_name.endswith('.csv'):
        file_path = os.path.join(input_folder, file_name)
        # Read the CSV file
        df = pd.read_csv(file_path, low_memory=False)
        # Add an ID column with the filename as the ID
        df['ID'] = file_name
        # Append the dataframe to the list
        dataframes.append(df)

# Concatenate all dataframes
combined_df = pd.concat(dataframes, ignore_index=True, sort=False)

# Save the combined dataframe to a new CSV file
combined_df.to_csv(output_file, index=False)

In [96]:
# Define the path to the combined CSV file
combined_weather_path = r'C:\Users\hopeh\Desktop\data_science_bootcamp\flight_times_capstone\combined_weather.csv'

# Read the CSV file into a DataFrame
weather_df = pd.read_csv(combined_weather_path, low_memory=False)

# Display the first few rows of the DataFrame
print(weather_df.head())

       STATION                      NAME  LATITUDE  LONGITUDE  ELEVATION  \
0  US1ALEL0004  MILLBROOK 4.0 NNW, AL US  32.55035   -86.3845      120.1
1  US1ALEL0004  MILLBROOK 4.0 NNW, AL US  32.55035   -86.3845      120.1
2  US1ALEL0004  MILLBROOK 4.0 NNW, AL US  32.55035   -86.3845      120.1
3  US1ALEL0004  MILLBROOK 4.0 NNW, AL US  32.55035   -86.3845      120.1
4  US1ALEL0004  MILLBROOK 4.0 NNW, AL US  32.55035   -86.3845      120.1

         DATE  AWND  DAPR  MDPR  PGTM  PRCP  SN32  SNOW  SNWD  SX32  TAVG  \
0  2024-01-01   NaN   NaN   NaN   NaN  0.00   NaN   0.0   NaN   NaN   NaN
1  2024-01-02   NaN   NaN   NaN   NaN  0.00   NaN   0.0   NaN   NaN   NaN
2  2024-01-03   NaN   NaN   NaN   NaN  0.00   NaN   0.0   NaN   NaN   NaN
3  2024-01-04   NaN   NaN   NaN   NaN  0.21   NaN   NaN   NaN   NaN   NaN
4  2024-01-05   NaN   NaN   NaN   NaN  0.00   NaN   0.0   NaN   NaN   NaN

   TMAX  TMIN  TOBS  WDF2  WDF5  WESD  WESF  WSF2  WSF5  WT01  WT02  WT03  \
0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

   WT04  WT05  WT06  WT08  WT11           ID  TSUN  WT10  SN52  SN53  SN55  \
0   NaN   NaN   NaN   NaN   NaN  3774578.csv   NaN   NaN   NaN   NaN   NaN
1   NaN   NaN   NaN   NaN   NaN  3774578.csv   NaN   NaN   NaN   NaN   NaN
2   NaN   NaN   NaN   NaN   NaN  3774578.csv   NaN   NaN   NaN   NaN   NaN
3   NaN   NaN   NaN   NaN   NaN  3774578.csv   NaN   NaN   NaN   NaN   NaN
4   NaN   NaN   NaN   NaN   NaN  3774578.csv   NaN   NaN   NaN   NaN   NaN

   SN56  SX52  SX53  SX55  SX56  WDFG  WDMV  WSFG  WSFI  WT09  PSUN  WT07  \
0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

   SN31  SX31  SN33  SN35  SX33  SX35 AWND_ATTRIBUTES DAPR_ATTRIBUTES  \
0   NaN   NaN   NaN   NaN   NaN   NaN             NaN             NaN
1   NaN   NaN   NaN   NaN   NaN   NaN             NaN             NaN
2   NaN   NaN   NaN   NaN   NaN   NaN             NaN             NaN
3   NaN   NaN   NaN   NaN   NaN   NaN             NaN             NaN
4   NaN   NaN   NaN   NaN   NaN   NaN             NaN             NaN

  MDPR_ATTRIBUTES PGTM_ATTRIBUTES PRCP_ATTRIBUTES SNOW_ATTRIBUTES  \
0             NaN             NaN             NaN             NaN
1             NaN             NaN             NaN             NaN
2             NaN             NaN             NaN             NaN
3             NaN             NaN             NaN             NaN
4             NaN             NaN             NaN             NaN

  SNWD_ATTRIBUTES TAVG_ATTRIBUTES TMAX_ATTRIBUTES TMIN_ATTRIBUTES  \
0             NaN             NaN             NaN             NaN
1             NaN             NaN             NaN             NaN
2             NaN             NaN             NaN             NaN
3             NaN             NaN             NaN             NaN
4             NaN             NaN             NaN             NaN

  TOBS_ATTRIBUTES WDF2_ATTRIBUTES WDF5_ATTRIBUTES WDFG_ATTRIBUTES  \
0             NaN             NaN             NaN             NaN
1             NaN             NaN             NaN             NaN
2             NaN             NaN             NaN             NaN
3             NaN             NaN             NaN             NaN
4             NaN             NaN             NaN             NaN

  WDMV_ATTRIBUTES WESD_ATTRIBUTES WESF_ATTRIBUTES WSF2_ATTRIBUTES  \
0             NaN             NaN             NaN             NaN
1             NaN             NaN             NaN             NaN
2             NaN             NaN             NaN             NaN
3             NaN             NaN             NaN             NaN
4             NaN             NaN             NaN             NaN

  WSF5_ATTRIBUTES WSFG_ATTRIBUTES WT01_ATTRIBUTES WT02_ATTRIBUTES  \
0             NaN             NaN             NaN             NaN
1             NaN             NaN             NaN             NaN
2             NaN             NaN             NaN             NaN
3             NaN             NaN             NaN             NaN
4             NaN             NaN             NaN             NaN

  WT03_ATTRIBUTES WT04_ATTRIBUTES WT05_ATTRIBUTES WT06_ATTRIBUTES  \
0             NaN             NaN             NaN             NaN
1             NaN             NaN             NaN             NaN
2             NaN             NaN             NaN             NaN
3             NaN             NaN             NaN             NaN
4             NaN             NaN             NaN             NaN

  WT07_ATTRIBUTES WT08_ATTRIBUTES WT09_ATTRIBUTES WT10_ATTRIBUTES  \
0             NaN             NaN             NaN             NaN
1             NaN             NaN             NaN             NaN
2             NaN             NaN             NaN             NaN
3             NaN             NaN             NaN             NaN
4             NaN             NaN             NaN             NaN

  WT11_ATTRIBUTES  DASF  MDSF WSFI_ATTRIBUTES  PSUN_ATTRIBUTES  \
0             NaN   NaN   NaN             NaN              NaN
1             NaN   NaN   NaN             NaN              NaN
2             NaN   NaN   NaN             NaN              NaN
3             NaN   NaN   NaN             NaN              NaN
4             NaN   NaN   NaN             NaN              NaN

  SN32_ATTRIBUTES SN52_ATTRIBUTES SX32_ATTRIBUTES SX52_ATTRIBUTES  \
0             NaN             NaN             NaN             NaN
1             NaN             NaN             NaN             NaN
2             NaN             NaN             NaN             NaN
3             NaN             NaN             NaN             NaN
4             NaN             NaN             NaN             NaN

  SN31_ATTRIBUTES SN33_ATTRIBUTES SX31_ATTRIBUTES SX33_ATTRIBUTES  SN51  SX51  \
0             NaN             NaN             NaN             NaN   NaN   NaN
1             NaN             NaN             NaN             NaN   NaN   NaN
2             NaN             NaN             NaN             NaN   NaN   NaN
3             NaN             NaN             NaN             NaN   NaN   NaN
4             NaN             NaN             NaN             NaN   NaN   NaN

  SN51_ATTRIBUTES SN53_ATTRIBUTES SN55_ATTRIBUTES SX53_ATTRIBUTES  \
0             NaN             NaN             NaN             NaN
1             NaN             NaN             NaN             NaN
2             NaN             NaN             NaN             NaN
3             NaN             NaN             NaN             NaN
4             NaN             NaN             NaN             NaN

  SX55_ATTRIBUTES  SN36  SX36
0             NaN   NaN   NaN
1             NaN   NaN   NaN
2             NaN   NaN   NaN
3             NaN   NaN   NaN
4             NaN   NaN   NaN

In [97]:
# Display the column names
print(weather_df.columns.tolist())

['STATION', 'NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'DATE', 'AWND', 'DAPR', 'MDPR', 'PGTM', 'PRCP', 'SN32', 'SNOW', 'SNWD', 'SX32', 'TAVG', 'TMAX', 'TMIN', 'TOBS', 'WDF2', 'WDF5', 'WESD', 'WESF', 'WSF2', 'WSF5', 'WT01', 'WT02', 'WT03', 'WT04', 'WT05', 'WT06', 'WT08', 'WT11', 'ID', 'TSUN', 'WT10', 'SN52', 'SN53', 'SN55', 'SN56', 'SX52', 'SX53', 'SX55', 'SX56', 'WDFG', 'WDMV', 'WSFG', 'WSFI', 'WT09', 'PSUN', 'WT07', 'SN31', 'SX31', 'SN33', 'SN35', 'SX33', 'SX35', 'AWND_ATTRIBUTES', 'DAPR_ATTRIBUTES', 'MDPR_ATTRIBUTES', 'PGTM_ATTRIBUTES', 'PRCP_ATTRIBUTES', 'SNOW_ATTRIBUTES', 'SNWD_ATTRIBUTES', 'TAVG_ATTRIBUTES', 'TMAX_ATTRIBUTES', 'TMIN_ATTRIBUTES', 'TOBS_ATTRIBUTES', 'WDF2_ATTRIBUTES', 'WDF5_ATTRIBUTES', 'WDFG_ATTRIBUTES', 'WDMV_ATTRIBUTES', 'WESD_ATTRIBUTES', 'WESF_ATTRIBUTES', 'WSF2_ATTRIBUTES', 'WSF5_ATTRIBUTES', 'WSFG_ATTRIBUTES', 'WT01_ATTRIBUTES', 'WT02_ATTRIBUTES', 'WT03_ATTRIBUTES', 'WT04_ATTRIBUTES', 'WT05_ATTRIBUTES', 'WT06_ATTRIBUTES', 'WT07_ATTRIBUTES', 'WT08_ATTRIBUTES', 'WT09_ATTRIBUTES', 'WT10_ATTRIBUTES', 'WT11_ATTRIBUTES', 'DASF', 'MDSF', 'WSFI_ATTRIBUTES', 'PSUN_ATTRIBUTES', 'SN32_ATTRIBUTES', 'SN52_ATTRIBUTES', 'SX32_ATTRIBUTES', 'SX52_ATTRIBUTES', 'SN31_ATTRIBUTES', 'SN33_ATTRIBUTES', 'SX31_ATTRIBUTES', 'SX33_ATTRIBUTES', 'SN51', 'SX51', 'SN51_ATTRIBUTES', 'SN53_ATTRIBUTES', 'SN55_ATTRIBUTES', 'SX53_ATTRIBUTES', 'SX55_ATTRIBUTES', 'SN36', 'SX36']

In [98]:
# Display information about the DataFrame
print(weather_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22834319 entries, 0 to 22834318
Columns: 109 entries, STATION to SX36
dtypes: float64(60), object(49)
memory usage: 18.5+ GB
None

In [99]:
# Reduce memory usage

# Convert float64 to float32
float_cols = weather_df.select_dtypes(include=['float64']).columns
weather_df[float_cols] = weather_df[float_cols].astype('float32')

In [167]:
# Check for duplicates

# Find all duplicate rows where all cells are identical
duplicate_rows = weather_df[weather_df.duplicated(keep=False)]

# Display the first 10 unique duplicate rows
unique_duplicate_rows = duplicate_rows.drop_duplicates()
print(unique_duplicate_rows.head(10))

# Count the number of unique duplicate rows
unique_duplicate_count = unique_duplicate_rows.shape[0]
print(f"Total unique duplicate rows: {unique_duplicate_count}")

Empty DataFrame
Columns: [station, id, latitude, longitude, elevation, date, prcp, snow, snwd, tmax, tmin, tobs, city, state]
Index: []
Total unique duplicate rows: 0

In [104]:
# Reformat column titles

# Convert all column names to lowercase
weather_df.columns = weather_df.columns.str.lower()

# # Rename specific columns if needed
# weather_df.rename(columns={
#     'fl_date': 'date', 
#     'origin_city_name': 'origin_city',
#     'dest_city_name' : 'dest_city'
# }, inplace=True)

In [106]:
# Display column names
print(weather_df.columns)

Index(['station', 'name', 'latitude', 'longitude', 'elevation', 'date', 'awnd',
       'dapr', 'mdpr', 'pgtm',
       ...
       'sx33_attributes', 'sn51', 'sx51', 'sn51_attributes', 'sn53_attributes',
       'sn55_attributes', 'sx53_attributes', 'sx55_attributes', 'sn36',
       'sx36'],
      dtype='object', length=109)

In [108]:
# Check to see difference
print(weather_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22834319 entries, 0 to 22834318
Columns: 109 entries, station to sx36
dtypes: float32(60), object(49)
memory usage: 13.4+ GB
None

In [114]:
# Check for missing values
print(weather_df.isnull().sum())

station                   0
name                      0
latitude             126389
longitude            126389
elevation            308039
date                      0
awnd               21730433
dapr               22542782
mdpr               22545462
pgtm               22606193
prcp                1646456
sn32               22716418
snow                8800855
snwd               16392560
sx32               22716691
tavg               20602392
tmax               15953944
tmin               15962693
tobs               18699569
wdf2               21787117
wdf5               21822776
wesd               21434477
wesf               21996337
wsf2               21786826
wsf5               21821049
wt01               22412503
wt02               22776358
wt03               22660100
wt04               22826176
wt05               22827863
wt06               22823223
wt08               22713981
wt11               22824417
id                        0
tsun               22832701
wt10               22834244
sn52               22790115
sn53               22828012
sn55               22831463
sn56               22832659
sx52               22789302
sx53               22828013
sx55               22831461
sx56               22832659
wdfg               22809397
wdmv               22748070
wsfg               22796173
wsfi               22806590
wt09               22831646
psun               22832692
wt07               22833974
sn31               22819770
sx31               22819833
sn33               22823604
sn35               22830449
sx33               22823629
sx35               22829552
awnd_attributes    22798240
dapr_attributes    22823377
mdpr_attributes    22823473
pgtm_attributes    22825550
prcp_attributes    22124817
snow_attributes    22352746
snwd_attributes    22597324
tavg_attributes    22792759
tmax_attributes    22648564
tmin_attributes    22648553
tobs_attributes    22706894
wdf2_attributes    22800845
wdf5_attributes    22802023
wdfg_attributes    22833482
wdmv_attributes    22832560
wesd_attributes    22793687
wesf_attributes    22799940
wsf2_attributes    22800839
wsf5_attributes    22801952
wsfg_attributes    22833418
wt01_attributes    22818917
wt02_attributes    22832434
wt03_attributes    22828523
wt04_attributes    22833544
wt05_attributes    22834065
wt06_attributes    22833550
wt07_attributes    22834314
wt08_attributes    22831617
wt09_attributes    22834220
wt10_attributes    22834317
wt11_attributes    22833890
dasf               22834310
mdsf               22834310
wsfi_attributes    22834257
psun_attributes    22834319
sn32_attributes    22833527
sn52_attributes    22832397
sx32_attributes    22833529
sx52_attributes    22832392
sn31_attributes    22834011
sn33_attributes    22834131
sx31_attributes    22834011
sx33_attributes    22834131
sn51               22831126
sx51               22831136
sn51_attributes    22834309
sn53_attributes    22833593
sn55_attributes    22833593
sx53_attributes    22833593
sx55_attributes    22833593
sn36               22832616
sx36               22831706
dtype: int64

In [116]:
# # Define the missing value threshold to determine which attributes to remove (20%)
# threshold = 0.20

# # Calculate the proportion of missing values
# missing_proportion = combined_weather_df.isnull().mean()

# # Calculate the proportion of zero values
# zero_proportion = (combined_weather_df == 0).mean()

# # Filter columns where missing or zero values are more than the threshold
# high_missing_cols = missing_proportion[missing_proportion > threshold].index
# high_zero_cols = zero_proportion[zero_proportion > threshold].index

# # Print the results
# print("Columns with more than 20% missing values:")
# print(high_missing_cols)

# print("\nColumns with more than 20% zero values:")
# print(high_zero_cols)

# # Combine both lists to see columns with either high missing or zero values
# high_issue_cols = set(high_missing_cols).union(set(high_zero_cols))
# print("\nColumns with either high missing or zero values:")
# print(high_issue_cols)

In [118]:
# Calculate the percentage of NaN values for each column
nan_percentage = weather_df.isna().mean() * 100

# Adjust pandas display options
pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.max_rows', None)     # Show all rows

# Print the results
print(nan_percentage)

station              0.000000
name                 0.000000
latitude             0.553505
longitude            0.553505
elevation            1.349018
date                 0.000000
awnd                95.165671
dapr                98.723251
mdpr                98.734987
pgtm                99.000951
prcp                 7.210445
sn32                99.483668
snow                38.542227
snwd                71.789135
sx32                99.484863
tavg                90.225559
tmax                69.868272
tmin                69.906587
tobs                81.892388
wdf2                95.413912
wdf5                95.570076
wesd                93.869570
wesf                96.330164
wsf2                95.412637
wsf5                95.562513
wt01                98.152710
wt02                99.746167
wt03                99.237030
wt04                99.964339
wt05                99.971727
wt06                99.951406
wt08                99.472995
wt11                99.956635
id                   0.000000
tsun                99.992914
wt10                99.999672
sn52                99.806414
sn53                99.972379
sn55                99.987493
sn56                99.992730
sx52                99.802854
sx53                99.972384
sx55                99.987484
sx56                99.992730
wdfg                99.890857
wdmv                99.622283
wsfg                99.832944
wsfi                99.878564
wt09                99.988294
psun                99.992875
wt07                99.998489
sn31                99.936285
sx31                99.936560
sn33                99.953075
sn35                99.983052
sx33                99.953185
sx35                99.979124
awnd_attributes     99.841997
dapr_attributes     99.952081
mdpr_attributes     99.952501
pgtm_attributes     99.961597
prcp_attributes     96.892826
snow_attributes     97.891012
snwd_attributes     98.962110
tavg_attributes     99.817993
tmax_attributes     99.186510
tmin_attributes     99.186461
tobs_attributes     99.441958
wdf2_attributes     99.853405
wdf5_attributes     99.858564
wdfg_attributes     99.996334
wdmv_attributes     99.992297
wesd_attributes     99.822057
wesf_attributes     99.849442
wsf2_attributes     99.853379
wsf5_attributes     99.858253
wsfg_attributes     99.996054
wt01_attributes     99.932549
wt02_attributes     99.991745
wt03_attributes     99.974617
wt04_attributes     99.996606
wt05_attributes     99.998888
wt06_attributes     99.996632
wt07_attributes     99.999978
wt08_attributes     99.988167
wt09_attributes     99.999566
wt10_attributes     99.999991
wt11_attributes     99.998121
dasf                99.999961
mdsf                99.999961
wsfi_attributes     99.999728
psun_attributes    100.000000
sn32_attributes     99.996532
sn52_attributes     99.991583
sx32_attributes     99.996540
sx52_attributes     99.991561
sn31_attributes     99.998651
sn33_attributes     99.999177
sx31_attributes     99.998651
sx33_attributes     99.999177
sn51                99.986017
sx51                99.986060
sn51_attributes     99.999956
sn53_attributes     99.996821
sn55_attributes     99.996821
sx53_attributes     99.996821
sx55_attributes     99.996821
sn36                99.992542
sx36                99.988557
dtype: float64

In [120]:
# Select the subset of columns to KEEP
columns_to_keep = ['station', 'id', 'name', 'latitude', 'longitude', 'elevation', 'date', 'prcp', 'snow', 'snwd', 'tmax', 'tmin', 'tobs']
weather_df = weather_df[columns_to_keep]

In [ ]:
# # Drop Columns that provide no useful information for analysis (e.g., unique
# # identifiers if not needed)

# columns_to_drop = [
#     'origin_city_market_id',
#     'dest_city_market_id',
#     'origin',
#     'dest',
#     'origin_state_nm',
#     'dest_state_nm', 
#     'origin_airport_id',
#     'dest_airport_id'
# ]

# # Drop the identified columns
# flight_data = flight_data.drop(columns=columns_to_drop)

# # Verify the changes
# print(flight_data.info())

In [122]:
# Calculate the number of NaN values per row
num_nans_per_row = weather_df.isnull().sum(axis=1)

# Calculate the total number of columns in the DataFrame
total_columns = weather_df.shape[1]

# Calculate the proportion of NaN values per row
nan_proportion_per_row = num_nans_per_row / total_columns

In [124]:
# Define the threshold (62%)
threshold = 0.62

# Identify rows where the proportion of NaN values is more than the threshold
rows_with_high_nan = weather_df[nan_proportion_per_row > threshold]

# Save the rows with high NaN proportions to a new CSV file
rows_with_high_nan.to_csv(r'C:\Users\hopeh\Desktop\data_science_bootcamp\flight_times_capstone\rows_with_high_nan.csv', index=False)

In [126]:
# Display the number of rows with more than 62% NaN values
print(f"Number of rows with more than 62% NaN values: {len(rows_with_high_nan)}")

Number of rows with more than 62% NaN values: 1016

In [144]:
# Read the CSV file into a DataFrame
rows_w_high_nan_df = pd.read_csv(r'C:\Users\hopeh\Desktop\data_science_bootcamp\flight_times_capstone\rows_with_high_nan.csv', low_memory=False)

# Display the first few rows of the DataFrame
print(rows_w_high_nan_df.head())

       station           id                       name  latitude  longitude  \
0  US1ALBR0006  3774589.csv       CLAYTON 7.8 W, AL US       NaN        NaN
1  US1ALTS0022  3774589.csv  TUSCALOOSA 1.3 ENE, AL US       NaN        NaN
2  US1ALTS0022  3774589.csv  TUSCALOOSA 1.3 ENE, AL US       NaN        NaN
3  US1ALTS0022  3774589.csv  TUSCALOOSA 1.3 ENE, AL US       NaN        NaN
4  US1ALTS0022  3774589.csv  TUSCALOOSA 1.3 ENE, AL US       NaN        NaN

   elevation        date  prcp  snow  snwd  tmax  tmin  tobs
0        NaN  2023-04-04   NaN   NaN   NaN   NaN   NaN   NaN
1        NaN  2023-01-09   NaN   NaN   NaN   NaN   NaN   NaN
2        NaN  2023-01-23   NaN   NaN   NaN   NaN   NaN   NaN
3        NaN  2023-01-30   NaN   NaN   NaN   NaN   NaN   NaN
4        NaN  2023-02-03   NaN   NaN   NaN   NaN   NaN   NaN

In [130]:
# Display the column names
print(rows_w_high_nan_df.columns.tolist())

['station', 'id', 'name', 'latitude', 'longitude', 'elevation', 'date', 'prcp', 'snow', 'snwd', 'tmax', 'tmin', 'tobs']

In [134]:
# Define the columns to check for NaN
columns_to_check = ['latitude', 'longitude', 'elevation', 'prcp', 'snow', 'snwd', 'tmax', 'tmin', 'tobs']

# Remove rows where all specified columns are NaN
weather_df = weather_df.dropna(subset=columns_to_check, how='all')

In [149]:
# Split the 'name' column into 'city' and 'state'
weather_df[['city', 'state']] = weather_df['name'].str.split(',', n=1, expand=True)

# Clean up the 'city' and 'state' columns
weather_df.loc[:, 'city'] = weather_df['city'].str.replace(r'\d+\.?\d*\s+[NSEW]+', '', regex=True).str.strip()
weather_df.loc[:, 'state'] = weather_df['state'].str.extract(r'([A-Z]{2})')[0]

# Display the updated DataFrame
print(weather_df.head())

C:\Users\hopeh\AppData\Local\Temp\ipykernel_12200\3439108702.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather_df[['city', 'state']] = weather_df['name'].str.split(',', n=1, expand=True)

       station           id                      name  latitude  longitude  \
0  US1ALEL0004  3774578.csv  MILLBROOK 4.0 NNW, AL US  32.55035 -86.384499
1  US1ALEL0004  3774578.csv  MILLBROOK 4.0 NNW, AL US  32.55035 -86.384499
2  US1ALEL0004  3774578.csv  MILLBROOK 4.0 NNW, AL US  32.55035 -86.384499
3  US1ALEL0004  3774578.csv  MILLBROOK 4.0 NNW, AL US  32.55035 -86.384499
4  US1ALEL0004  3774578.csv  MILLBROOK 4.0 NNW, AL US  32.55035 -86.384499

    elevation        date  prcp  snow  snwd  tmax  tmin  tobs       city state
0  120.099998  2024-01-01  0.00   0.0   NaN   NaN   NaN   NaN  MILLBROOK    AL
1  120.099998  2024-01-02  0.00   0.0   NaN   NaN   NaN   NaN  MILLBROOK    AL
2  120.099998  2024-01-03  0.00   0.0   NaN   NaN   NaN   NaN  MILLBROOK    AL
3  120.099998  2024-01-04  0.21   NaN   NaN   NaN   NaN   NaN  MILLBROOK    AL
4  120.099998  2024-01-05  0.00   0.0   NaN   NaN   NaN   NaN  MILLBROOK    AL

In [136]:
# Check the shape of the cleaned DataFrame
print(f'DataFrame shape: {weather_df.shape}')

DataFrame shape: (22833303, 13)

In [151]:
# Drop the name column
weather_df.drop(columns=['name'], inplace=True)

C:\Users\hopeh\AppData\Local\Temp\ipykernel_12200\1077275807.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather_df.drop(columns=['name'], inplace=True)

In [153]:
# Display the updated DataFrame
print(weather_df.head())

       station           id  latitude  longitude   elevation        date  \
0  US1ALEL0004  3774578.csv  32.55035 -86.384499  120.099998  2024-01-01
1  US1ALEL0004  3774578.csv  32.55035 -86.384499  120.099998  2024-01-02
2  US1ALEL0004  3774578.csv  32.55035 -86.384499  120.099998  2024-01-03
3  US1ALEL0004  3774578.csv  32.55035 -86.384499  120.099998  2024-01-04
4  US1ALEL0004  3774578.csv  32.55035 -86.384499  120.099998  2024-01-05

   prcp  snow  snwd  tmax  tmin  tobs       city state
0  0.00   0.0   NaN   NaN   NaN   NaN  MILLBROOK    AL
1  0.00   0.0   NaN   NaN   NaN   NaN  MILLBROOK    AL
2  0.00   0.0   NaN   NaN   NaN   NaN  MILLBROOK    AL
3  0.21   NaN   NaN   NaN   NaN   NaN  MILLBROOK    AL
4  0.00   0.0   NaN   NaN   NaN   NaN  MILLBROOK    AL

In [155]:
# Define the date range
start_date = '2023-05-01'
end_date = '2024-04-30'

# Filter the DataFrame
weather_df = weather_df[(weather_df['date'] >= start_date) & (weather_df['date'] <= end_date)]

In [156]:
print(weather_df.head())

       station           id  latitude  longitude   elevation        date  \
0  US1ALEL0004  3774578.csv  32.55035 -86.384499  120.099998  2024-01-01
1  US1ALEL0004  3774578.csv  32.55035 -86.384499  120.099998  2024-01-02
2  US1ALEL0004  3774578.csv  32.55035 -86.384499  120.099998  2024-01-03
3  US1ALEL0004  3774578.csv  32.55035 -86.384499  120.099998  2024-01-04
4  US1ALEL0004  3774578.csv  32.55035 -86.384499  120.099998  2024-01-05

   prcp  snow  snwd  tmax  tmin  tobs       city state
0  0.00   0.0   NaN   NaN   NaN   NaN  MILLBROOK    AL
1  0.00   0.0   NaN   NaN   NaN   NaN  MILLBROOK    AL
2  0.00   0.0   NaN   NaN   NaN   NaN  MILLBROOK    AL
3  0.21   NaN   NaN   NaN   NaN   NaN  MILLBROOK    AL
4  0.00   0.0   NaN   NaN   NaN   NaN  MILLBROOK    AL

In [170]:
# Convert all string values in the DataFrame to lowercase using apply
weather_df = weather_df.apply(lambda col: col.str.lower() if col.dtype == "object" else col)

# Check the updated DataFrame
print(weather_df.head())

       station           id  latitude  longitude   elevation        date  \
0  us1alel0004  3774578.csv  32.55035 -86.384499  120.099998  2024-01-01
1  us1alel0004  3774578.csv  32.55035 -86.384499  120.099998  2024-01-02
2  us1alel0004  3774578.csv  32.55035 -86.384499  120.099998  2024-01-03
3  us1alel0004  3774578.csv  32.55035 -86.384499  120.099998  2024-01-04
4  us1alel0004  3774578.csv  32.55035 -86.384499  120.099998  2024-01-05

   prcp  snow  snwd  tmax  tmin  tobs       city state
0  0.00   0.0   NaN   NaN   NaN   NaN  millbrook    al
1  0.00   0.0   NaN   NaN   NaN   NaN  millbrook    al
2  0.00   0.0   NaN   NaN   NaN   NaN  millbrook    al
3  0.21   NaN   NaN   NaN   NaN   NaN  millbrook    al
4  0.00   0.0   NaN   NaN   NaN   NaN  millbrook    al

In [172]:
# save the cleaned DataFrame to a new CSV file
weather_df.to_csv('cleaned_weather_data.csv', index=False)

In [173]:
# Display the column names
print(weather_df.columns)

Index(['station', 'id', 'latitude', 'longitude', 'elevation', 'date', 'prcp',
       'snow', 'snwd', 'tmax', 'tmin', 'tobs', 'city', 'state'],
      dtype='object')